body{
	background:#ececec;
	font:14px/1.5 'proxima-nova', Arial, sans-serif;
	color:#5e5e5e;
	font-weight:400;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	@include prefixed(all, transition 0.8s ease-in-out);
}
#container{
	 position: relative;
	  overflow: hidden;
	  width: 100%;
}
#inner-wrap {
  position: relative;
  width: 100%;
}
.container{
	max-width:970px;
}

ul, li{
	list-style:none;
	padding:0;
	margin:0;
}
::-webkit-input-placeholder {
    color:#666666 !important;
 	font: italic 0.9em "Sanchez", sans-serif !important;
}

:-moz-placeholder { /* Firefox 18- */
   color:#666666 !important;
 	font: italic 0.9em "Sanchez", sans-serif !important;
 	font-weight:400;
}

::-moz-placeholder {  /* Firefox 19+ */
  color:#666666 !important;
 	font: italic 0.9em "Sanchez", sans-serif !important;
}

:-ms-input-placeholder {  
   color:#666666 !important;
 	font: italic 0.9em "Sanchez", sans-serif !important;
}

.hidden-xs, visible-xs, hidden-md, visible-md{
	
}

/* ======== TYPO ======== */
h1, h2, h3, h4, h5{
	color:#0d0d0d;
	margin-bottom:1.3em;
}

.title_line{
	font: 700 18px "adobe-caslon-pro", sans-serif, Arial;
	border-bottom: 1px solid black;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto 30px auto;
	padding-bottom: 15px;
	letter-spacing: 0.08em;

	&.left{
		text-align:left;
		font-size:18px;
		padding-bottom:12px;
		margin-bottom:18px;
	}

	&.gline{
		border-bottom:1px solid #d4d4d4;
	}
}
.title_unline{
	font: 700 17px "adobe-caslon-pro", sans-serif, Arial;
	margin-top:0;
	margin-bottom: 20px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	&.left{
		float:left;
	}

	span{
		font-size:13px;
		color:#666666;
		text-transform:capitalize;
	}

	a{
		color:black;
		text-decoration:none;
		@include prefixed(transition, all 0.2s ease-in-out);
		&:hover{
			color:#ebcb45;
		}
	}

	&.last{
		float:left;
		margin-left:18%;
	}
}
.title-sm{
	font:14px 'montserratbold', sans-serif;
	color:black;
	border-bottom:1px solid #d4d4d4;
	text-transform: uppercase;
	padding-bottom:10px;
}

.f-title{
	font:17px 'adobe-caslon-pro', sans-serif;
	color:black;
	text-transform: uppercase;
	margin-bottom:13px;
}


.upcase{
	text-transform:uppercase;
	display:block;
	margin-bottom:5px;
	color:black;
	font-family: 'montserratregular';
}

.title_ltBlog{
	text-transform:uppercase;
	font-weight:400;
	display:block;
	margin-bottom:12px;
	font-size:16px;
	font-family: 'montserratregular';
}


/* ======== LINKS ======== */
.link-up{
	font-size:14px;
	color:black;
	text-transform:uppercase;
	font-weight:400;
	font-style:italic;
	text-decoration:underline;
}

.link_mgenta{
	background:none;
	border:none;
	color:#4ba696;
	text-transform:uppercase;
	font-size:12px;
	font-family:"montserratbold", Arial, sans-serif;
	outline:none;

	&.right{
		float:right;
	}
	&.left{
		float:left;
	}
}

.link-black{
		color:#000000;
		text-decoration:underline;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}


/* ======== FORM ======== */
label{
	font-weight:normal;

}
.form-control{
	@include border-radius(0);	
	height:35px;
	font:1em "proxima-nova", sans-serif !important;
	font-weight:400;
	color:#666666;
	background:#ececec;
	border:none;
	
}
.smalltxt{
	background:#ececec;
	font-style:italic;
	font-size:12px;
	color:#808080;	
	padding: 5px 13px;
	display:block;
}
.form-control.boxnone{
	&:focus{
		@include box-shadow(none);
	}
}
.form-group{
	&.half{
		width:75%;	
	}
}
.checkbox{
	label{
		vertical-align:middle;
	}
}
.step-row{
	margin-bottom:55px;
	overflow:hidden;
}

.grey-drk{
		background:#dddddd;
		padding:30px 0;
		overflow:hidden;
		margin-bottom:38px;
}

.grey-lt{
	background:#ececec;
	padding:30px 0;
	overflow:hidden;
	margin-bottom:38px;
}

/* ======== BUTTON ======== */

.btn_wrap{
	text-align:center;
	margin:0;
	&.right{
		text-align:right;
	}
	&.left{
		text-align:left;
	}
}
.btn_ylw{
	border:none;
	background:none;
	@include border-radius(0);
	background:#ebcb45;
	color:black;
	text-align:center;
	text-transform:uppercase;
	@include inline-block;
	font:14px "montserratregular", sans-serif;
	font-weight:400;
	padding:9px 15px;
	@include prefixed(transition, all 0.4s ease-in-out);
	text-decoration:none;

	&:hover{
		color:white;
		background:black;
		text-decoration:none;
	}
}

.btn_black{
	@extend .btn_ylw;

	background:black;
	color:white;

	&:hover{
		background:#e7b843 !important;
	}
}

.btn_mgenta{
	border:none;
	background:none;
	@include border-radius(0);
	background:#a0d9cf;
	color:black;
	text-align:center;
	text-transform:uppercase;
	@include inline-block;
	font:14px 'montserratregular', sans-serif;
	padding:7px 15px;
	@include prefixed(transition, all 0.4s ease-in-out);
	text-decoration:none;

	&.right{
		float:right;
	}
	&.left{
		float:left;
	}

	&.full{
		width:100%;
	}
	&:hover{
		color:white;
		background:black;
		text-decoration:none;
	}
}

.btn_white{
	@extend .btn_mgenta;
	background:white;
}

.btn_grey{
	border:none;
	background:none;
	@include border-radius(0);
	background:#ececec;
	background-repeat:no-repeat;
	color:#aeaeae;
	text-align:center;
	text-transform:uppercase;
	@include inline-block;
	font:14px 'montserratregular', sans-serif;
	padding:7px 15px;
	@include prefixed(transition, all 0.4s ease-in-out);
	text-decoration:none;
	&.sm{
		font-size:12px;
	}
	&.bg{
		background:#ececec image-url("close.png") 10px 50% no-repeat;
		padding-left:28px;

		&:hover{
			color:white;
			background:#b2b2b2 image-url("close.png") 10px 50% no-repeat;
			text-decoration:none;
		}	
	}

	&:hover{
		color:white;
		background:#b2b2b2;
		text-decoration:none;
	}	
}
.bolder{
	font-family:'montserratregular', sans-serif;
	color:black;
}
.bg-yellow{
	background:#efcb34;
	padding:22px;
	margin-bottom:30px;
}

.bordRt{
	border-right:1px solid #d4d4d4;
}
.bordLt{
	border-left:1px solid #d4d4d4;
}

/* ======== TABLE ======== */
table{
	&.right{
		text-align:right;
	}
	td.td-nborder{
		border:none!important
	}
}

strong{
	font-weight:normal;
	font-family:'montserratbold', sans-serif;
	color:black;
}

/* ======== FILE UPLOAD ======== */
#FileUpload {
    position:relative;
    float:left;
    margin-right:15px;
    #BrowserVisible, #BrowserVisible, #BrowserHidden{
    	width:245px;
	    height: 31px;
    }  
    #BrowserVisible {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    z-index: 1;
	}
	#FileField {
	    background:#c7c7c7;
	    margin-right:85px;
	    font-size:16px;
	}
	#BrowserHidden {
	    position:relative;
	    text-align: right;
	    -moz-opacity:0;
	    @include opacity(0);
	    opacity: 0;
	    z-index: 2;
	}

	@media (max-width: 330pxpx){
		#BrowserVisible, #BrowserVisible, #BrowserHidden{
			width:230px;
		}
	}

}

