@media (max-width: 979px) {
  #header #logo {
    width: 30%;
  }

  #header .search {
    width: 27%;
  }

  #header .socSign {
    width: 35%;
  }

  #nav #menu a {
    padding: 16px 12px;
    font-size: 12px;
  }

  #nav #menu ul a {
    font-size: 11px;
    padding: 15px 6px;
  }

  #nav #menu li:hover > ul {
    top: 50px;
  }

  /*INTRO*/
  .slidewrap .thumb {
    width: 50%;
  }
  .slidewrap .desc {
    width: 40%;
    margin-top: 3%;
  }
  .slidewrap .desc h3 {
    font-size: 25px;
  }
  .slidewrap .bx-controls {
    right: 18%;
    top: -40px;
  }

  .lt_blog .desc {
    padding: 0 20px;
  }

  .f-catlog .form-group {
    width: 37%;
  }

  .whislist .btn_grey, .whislist .btn_mgenta {
    font-size: 12px;
  }

  .whislist .payment {
    font-size: 12px;
  }

  .free-wall .brick {
    width: 31%;
  }

  .title_unline.left {
    float: left;
  }

  .right_topMain {
    width: auto;
    float: none;
    padding: 0;
    margin-bottom: 10px;
    clear: both;
  }

  .btnAll_wrap .btn_mgenta {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .sortir {
    float: none;
    width: 100%;
    text-align: center;
  }

  .prodItem .buybtn_wrap .btn_mgenta {
    margin-bottom: 15px;
  }

  .f-catlog h4 {
    font-size: 15px;
  }

  .newCatalog .desc .btn_mgenta {
    margin-bottom: 10px;
  }

  .newCatalog .desc .btn_mgenta.btm {
    margin-top: 0;
  }

  .subscribe-box.catlogform {
    min-height: 345px;
  }

  .two-thumb .thumb-dtl {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .detail-btn.horiz a {
    margin-bottom: 15px;
  }

  .splashProd .desc h5 {
    margin-top: 0;
  }

  .footcart a {
    margin-bottom: 15px;
  }

  .bordRt {
    border-right: none;
  }

  .bordLt {
    border-left: none;
  }

  .regaccount, .printRec {
    margin-bottom: 25px;
  }

  .popCart {
    left: -43px;
  }

  /*ABOUT*/
  .aboutgalery {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: center;
    margin: 20px auto;
    width: auto;
  }

  .aboutgalery .sec1, .aboutgalery .sec2, .aboutgalery .sec3 {
    float: none;
    clear: both;
    margin: 5px auto;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: center;
    max-width: 100%;
  }

  .aboutgalery .ab_item p {
    text-align: left;
  }

  .aboutgalery .sec3 .ab_item {
    margin-right: 16px;
  }
}
@media (min-width: 767px) and (max-width: 979px) {
  .title_unline.last {
    margin-left: 39%;
  }
}
@media (max-width: 767px) {
  #main.subpages {
    padding-bottom: 20px;
  }

  #header {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  #header .container {
    position: relative;
  }

  #header .first-row {
    margin-bottom: 0;
  }

  #header .search {
    width: 100%;
    background: white;
    padding: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
  }
  #header .search form {
    width: 62%;
    margin: 0 auto;
  }
  #header .search form .form-control {
    border: none;
    height: 40px;
  }

  #browse_row ul li {
    width: auto;
    min-height: 0;
  }
  #browse_row ul li figure {
    max-width: 200px;
  }

  .videoFeat {
    margin-bottom: 30px;
  }

  .address {
    margin-bottom: 20px;
  }

  .ft-bookItem {
    text-align: center;
    margin-bottom: 25px;
    overflow: hidden;
  }
  .ft-bookItem figure {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .lt_blog figure {
    margin-bottom: 18px;
  }

  #footer {
    background: #ececec;
  }

  .slidewrap .bx-controls {
    position: relative;
    right: auto;
    top: 0;
    left: 0;
  }

  .slidewrap .bx-wrapper .bx-viewport {
    height: 260px;
  }

  .slidewrap .bx-wrapper .bx-pager {
    width: 100%;
    top: 0;
    text-align: center;
    left: 0;
    right: auto;
  }

  #browse_row ul li .head {
    font-size: 1em;
  }

  .free-wall .brick {
    width: 48%;
  }

  .sortir li {
    margin-bottom: 13px;
  }

  .prodItem .desc {
    overflow: visible;
  }

  .prodItem figure {
    width: 230px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 18px;
    float: none;
    display: block;
  }

  .f-signin {
    border-right: none;
    margin-bottom: 35px;
  }

  .subscribe-box.catlogform {
    min-height: 0;
    margin-bottom: 25px;
  }

  .catalogart .btn_wrap a {
    margin-bottom: 15px;
  }

  .thumb-dtl {
    height: auto;
  }

  .detail-btn.vertical .bg-whiteDtl {
    min-height: 0;
  }

  .overlay span {
    display: none;
  }

  .overlay .fa-search-plus {
    font-size: 5em;
  }

  .intromagz .desc {
    padding-top: 0;
    overflow: visible;
  }
  .intromagz figure {
    margin-bottom: 20px;
  }

  .steps ul li {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .btn-wrap.signbtn {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .btn-wrap.signbtn .btn_mgenta.pull-right {
    float: none !important;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  .orsumary .dl-horizontal {
    margin-bottom: 0;
  }
  .orsumary .dl-horizontal dt, .orsumary .dl-horizontal dd {
    width: 50%;
    float: left;
  }
  .orsumary .dl-horizontal dd {
    text-align: right;
  }
}
@media (max-width: 580px) {
  .overlay .fa-search-plus {
    font-size: 3em;
  }

  .btn_wrap .btn_grey, .btn_wrap btn_mgenta {
    margin-bottom: 10px;
  }
  .btn_wrap.right {
    text-align: center;
  }

  .whislist .btn_wrap.right {
    text-align: right;
  }

  .barylow span {
    font-size: 12px;
  }

  .whislist .upcase {
    position: relative;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .location .title_line {
    font-size: 18px;
  }

  .title_line {
    font-size: 17px;
  }

  .src_topMain {
    float: none;
    padding-left: 0;
    margin: 15px 0;
  }

  .search {
    margin-right: 0;
  }

  .right_topMain .shrthis {
    float: none;
  }

  .right_topMain .search {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin: 15px 0;
  }

  .newCatalog figure {
    margin-bottom: 18px;
  }

  .newCatalog .desc {
    overflow: visible;
  }

  .return {
    clear: both;
    float: none;
    margin-bottom: 20px;
    padding-top: 0;
  }

  #magzslide .date {
    font-size: 1em;
  }

  .free-wall .brick {
    width: 98%;
  }

  .whislist .step {
    text-align: center;
  }
  .whislist .step a {
    margin-bottom: 10px;
  }

  #header .search form {
    width: 90%;
  }
}
@media (max-width: 330px) {
  .user-xs {
    right: 30px;
  }

  .videoFeat, .lat_catlg, .lt_blog, .ct-account, .location, .ft-bookItem {
    display: none;
  }

  .itemslide-xs li a {
    font-size: 12px;
  }

  .itemslide-xs li {
    width: 117px;
    min-height: 120px;
  }

  ul.listmenu-xs li a {
    width: 85%;
  }

  .menuTop-xs ul li a {
    font-size: 9px;
  }

  #browse_row ul li figure {
    max-width: 180px;
  }

  .whislist .desc, .splashProd .desc {
    overflow: visible;
  }

  .whislist figure, .splashProd figure {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .splashProd figure {
    margin-bottom: 18px;
  }

  .list-suggest .splashProd {
    text-align: center;
    width: auto;
  }

  .forgot_pass {
    font-size: 12px;
  }

  .newCatalog .desc .btn_mgenta.btm {
    width: 239px;
  }

  .newCatalog figure {
    float: none;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  .two-thumb .thumb-dtl {
    height: auto;
  }

  .intromagz figure {
    float: none;
    margin: 0;
    margin: 0 auto 18px auto;
  }

  .whislist .upcase {
    text-align: center;
  }

  /*ABOUT*/
  .aboutgalery .sec1, .aboutgalery .sec2, .aboutgalery .sec3 {
    width: 100%;
    max-width: none;
  }

  .aboutgalery .ab_item.first {
    width: 100%;
    height: 200px;
  }

  .aboutgalery .ab_item {
    float: none;
    margin: 15px auto;
  }

  .aboutgalery .sec3 .ab_item {
    float: none;
    margin: 15px auto;
  }

  .aboutgalery {
    display: block;
  }
}
