/*==========================================================================
  ABOUT
========================================================================== */
#about-text{
	background:white;
	padding:20px;
	.title_unline{
		margin-bottom:8px;
	}

}

$item_bg_strip : #edbf1f !default;

.aboutgalery{
	position:relative;
	counter-reset: item;
	margin:20px 0;
  overflow:hidden;

  .sec1{
      width:455px;
      max-width:455px;  
  }
  .sec2{
      width:303px;
      max-width:303px; 

  }
  .sec3{
      width:180px;
      max-width:180px; 
  }


  .sec1, .sec2, .sec3{
    display:table;
    float:left;
    overflow:hidden;
  }

	.ab_item
	{
		   @include prefixed(box-sizing, border-box);
       margin-right:16px;
       margin-bottom:16px;
  		 float: left;
  		 @include prefixed(transition, 0.3s linear);
       position:relative;

       &.first{
          width:211px;height:152px;
       }

       &.second{width:439px;height:272px;}
       &.third{width:286px;height:441px;}
       &.fourth{width:177px;height:288px;}
       &.fifth{width:177px;height:137px}

  		 &:hover{
  		 	@include opacity(0.7);
  		 }

  		 p{
  		 	margin:0;
  		 	position:absolute;
  		 	width:100%;
  		 	left:0;
  		 	bottom:0;
  		 	color:black;
  		 	padding: 10px 10px 8px 10px;
  		 	font: 700 11px "adobe-caslon-pro", georgia;
  		 	line-height:1.3em;
  		 	background: $item_bg_strip;

  		 	&.ylw{
  		 		background:#edbf1f\9;
  		 		background:rgba(237, 191, 31, 0.8);
  		 	}
  		 	&.mgt{
  		 		background:#71d1c0\9;
  		 		background:rgba(113, 209, 192, 0.8);
  		 	}
  		 	&.blue{
  		 		background:#74b5de\9;
  		 		background:rgba(116, 181, 222, 0.8);
  		 	}
  		 }
	 }
  .sec3{
      .ab_item{
        margin-right:0;
        float:left;
      } 

    }

}

/* ======== END ABOUT ======== */