/*==========================================================================
  ACCOUNT PAGE
========================================================================== */
.whislist{
	position:relative;

	&.line{
		border-bottom:1px solid #d4d4d4;
		padding-bottom:15px;
		margin-bottom:20px;
	}
	figure{
		@include size(136px, 114px);
		float:left;
		margin-right:18px;
	}	

	.splashProd{
		width:90%;
	}

	p{
		font-family: 'Sanchez', serif;
	}
	.desc{
		overflow:hidden;
	}
	h5{
		font: 400 1em "Montserrat", sans-serif;
		margin-bottom:5px;
		text-transform:uppercase;
		margin-top:0;
		a{
			text-decoration:none;
			color:black;
			@include prefixed(transition, all 0.3s linear);
		}

		a:hover{
			color:#ebcb45;
		}
	}

	.step{
		border-bottom:1px solid #d4d4d4;
		border-top:1px solid #d4d4d4;
		overflow:hidden;
		padding:13px 0;
		text-align:right;
		margin-bottom:15px;
	}

	.payment{
		font-family: 'Montserrat', sans-serif;
		color:#acacac;
		text-transform:uppercase;
	}
}

.empList-text{
	font : normal 20px "Georgia" , sans-serif;
	text-transform: uppercase;
	color:black;
	letter-spacing: 0.1em;
}

.list-suggest{
	.splashProd{
		width:90%;
	}
}


/* ======== HISTORY ======== */
table.table{
	&.hisTable{
		th, td{
			padding:2px 8px;
		}
		th{
			font: 14px 'Montserrat', sans-serif;
			font-weight:700;
			border:none !important;
		}
		td{
			border:none;
			font-family: 'Sanchez', serif;
		}
	}
	
}

hr.hr-his{
	margin-bottom:12px;
}

table.table{
	&.inside{
		margin:0;
		margin-top:18px;
		td{
			vertical-align:middle;
			border:none;
			strong{
				font-weight:normal;
				font:  700 14px  'Montserrat', sans-serif;
				text-transform:uppercase;
				display:block;
			}

			.link_mgenta{
				font-weight:400;
				text-transform:lowercase;
			}

			figure{
				overflow:hidden;
				@include size(120px, 118px);
			}

		}
	}		
}

.tb-toggle{
	display:none;
	-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;	
	
	&.active{
		display:block !important;
	}
}
.nav-toggle{
	display:table;
	margin:0 auto;
}

.f-signin{
	border-right:1px solid #d4d4d4;
}
.forgot_pass{
	font-family: 'Sanchez', serif;
	color:#666666;
	text-decoration:underline;
	margin-left:10px;
	@include inline-block;
}

.nw-client{

	strong{
		color:black;
		font-weight:normal;
		font:  700 14px 'Montserrat', sans-serif;
		display:block;
		margin-bottom:8px;
	}

	ul, li{
		list-style : disc !important;
		margin-left:10px;
		font-family: 'Sanchez', serif;
	}
}

/* ======== CREATE ACCOUNT ======== */
.list-interest{
	li{
		background:#ececec;
		display:block;
		margin-bottom:8px;
		//@include prefixed(transition, background 0.3s ease-in);
		cursor:pointer;
		color:black;
		overflow:hidden;
		&.active{
			background:#ebcb45;
		}
		&:hover{
			background:#ebcb45;
		}
		input[type="checkbox"]{
			@include opacity(0);	
		}
		label{
			display:block;
			width:100%;
			cursor:pointer;
			padding:5px 0;
		}

		span.ls{
			padding: 6px 0 6px 30px;
			@include inline-block;
			overflow:hidden;
			margin-left: 17px;

			&.one
			{
				background: image-url("icon1.png") left center no-repeat;
				@include image-2x("../img/icon1@2x.png", 18px, 23px);
			}
			&.two
			{

				background: image-url("icon2.png") left center no-repeat;
				@include image-2x("../img/icon2@2x.png", 18px, 23px);
			}
			&.three
			{
				background: image-url("icon3.png") left center no-repeat;
				@include image-2x("../img/icon3@2x.png", 18px, 23px);
			}
			&.four
			{
				background: image-url("icon4.png") left center no-repeat;
				@include image-2x("../img/icon4@2x.png", 18px, 23px);
			}
			&.five
			{
				background: image-url("icon5.png") left center no-repeat;
				@include image-2x("../img/icon5@2x.png", 18px, 23px);
			}
			&.six
			{
				background: image-url("icon6.png") left center no-repeat;
				@include image-2x("../img/icon6@2x.png", 18px, 23px);
			}
			&.seven
			{
				background: image-url("icon7.png") left center no-repeat;
				@include image-2x("../img/icon7@2x.png", 18px, 23px);
			}
			&.eight
			{
				background: image-url("icon8.png") left center no-repeat;
				@include image-2x("../img/icon8@2x.png", 18px, 23px);
			}
			&.nine
			{
				background: image-url("icon9.png") left center no-repeat;
				@include image-2x("../img/icon9@2x.png", 18px, 23px);
			}
			&.ten
			{
				background: image-url("icon10.png") left center no-repeat;
				@include image-2x("../img/icon10@2x.png", 18px, 23px);
			}
			&.eleven
			{
				background: image-url("icon11.png") left center no-repeat;
				@include image-2x("../img/icon11@2x.png", 18px, 23px);
			}
			&.twelve
			{
				background: image-url("icon12.png") left center no-repeat;
				@include image-2x("../img/icon12@2x.png", 18px, 23px);
			}
			&.thirteen
			{
				background: image-url("icon13.png") left center no-repeat;
				@include image-2x("../img/icon13@2x.png", 18px, 23px);
			}
		}
		
	}
}
label.bar{
	.custom-check{
		margin-left:-22px;
		@include opacity(0);
	}
}