/*==========================================================================
  SIDEBAR
========================================================================== */
#sidebar{
	font-family: 'Sanchez', serif;
	font-weight: 400;
}
.wdg-side{
	.bg-white{
		margin-bottom:30px;
	}
	ul {
		li{
			display:block;
			margin-bottom:13px;
		}
		.date{
			color:#b1b0b0;
			display:block;
		}
	}
}

.spaceside{
	margin-top:52px;
}

.ourbox{
	background:#3a3a3a;
	color: white;
	padding-bottom:20px;
	margin-bottom:25px;

	header{
		background:black;
		color:white;
		font:17px "Georgia", sans-serif;
		padding:18px 23px;
		text-transform:uppercase;
		margin-bottom:15px;
	}
	.text{
		a{
			color:white;
			text-transform:uppercase;
			font-family: 'montserratregular';
			@include prefixed(transition, all 0.3s linear);
			&:hover{
				color:#caab46;
			}
		}
	}
	.desc{
		width:82%;
		margin:0 auto;
	}

	ul{
		margin-left:13px;
		li{
			list-style-image : image-url("list.png") ;
			margin-bottom:5px;
			a{
				color:#bcbcbc;

				&:hover{
					color:white;
				}
			}
		}
	}
}

.subscribe-box{
	background:#ebcb45;
	padding:30px;
	padding-bottom:23px;
	margin-bottom:25px;

	h4{
		font:19px "Georgia", sans-serif;
		margin:0;
		margin-bottom:20px;
		text-transform:uppercase;
	}

	.form-control{
		background:white;
		margin-bottom:10px;
	}
	.btn_black{
		float:right;
		margin-top:13px;
	}
}

.btnAll_wrap{
	text-align:center;
	.btn_mgenta{
		@include inline-block();
		margin-right:3px;
		margin-left:3px;
		font-size:11px;
		margin-bottom:5px;
		overflow:hidden;
		&.left{
			float:left;
			margin-left:0;
		}
		&.right{
			float:right;
			margin-right:0;
		}

		@media (max-width: 330px){
			&.left, &.right{
				float:none;
			}
		}
		@media (min-width: 767px) and (max-width: 979px){
			&.left, &.right{
				float:none;
			}
		}
	}


}

.questbox{
	background:white;
	border:3px solid #a0d9cf;
	padding:20px;
	margin-bottom:25px;
	.phone{
		color:black;
		font-size:16px;
		font-family: 'montserratregular';

	}
	h4{
		font-family: "Georgia", sans-serif;
		font-size:18px;
		margin:0;
		margin-bottom:12px;
		text-transform: uppercase;
	}
	&.yellow{
		background:#ebcb45;
		border:none;
		color:#272727;
	}
}

.shipInfo{
	background:#d1d1d1;
	padding:20px;
	margin-bottom:25px;

	h4{
		color:black;
		font-family: 'montserratregular';
		text-transform:uppercase;
		font-size:14px;
		margin:0;
		margin-bottom:15px;
	}
}

.btnAll_wrap.fontz{
	.btn_mgenta{
		font-size:12px;
	}
}

.orsumary{
	background:#ffffff;
	padding:20px;
	margin-bottom:25px;
	overflow:hidden;
	@include box-sizing(content-box);
	.listitem{
		border-bottom:1px solid #cecece;
		position:relative;
		margin-bottom: 13px;
		padding-bottom: 10px;
	}
	.dl-horizontal{
		overflow:hidden;
		margin-bottom:0;
		dt{
			text-align:left;
			font-weight:normal;
		}
	}
	.f-title{
		margin-bottom:18px;
	}

	p{	
		overflow:hidden;
		line-height:1em;
	}
	a.upcase{
		margin-bottom:0;
	}
	figure{
		@include size(50px, 62px);
		overflow:hidden;
		float:left;
		margin-right:15px;
	}

	table{
		td{
			border-top:none !important;
			border-bottom:1px solid #dddddd
		}
	}

	.total{
		font-family: 'montserratregular';
		color:black;
	}
}