/*==========================================================================
  BLOG PAGE
========================================================================== */
.right_topMain{
	float:right;
	overflow:hidden;
	width:57%;
	padding:10px 0;

	.shrthis{
		float:left;
		vertical-align:middle;
		img{
			padding:10px 0;
		}
	}	
	.search{
		float:left;
		width:51%;
		margin-right:0;
		margin-left:15px;
		margin-top:-5px;
		&.right{
			float:right;
		}
	}
}


/* UPDATE*/
.src_topMain{
	float:right;
	padding-right:0;
	.search{
		width:68%;
		float:right;
		margin-bottom:0;
		margin-right:0;

		@media (max-width: 979px){
			width:100%;
		}
	}
}


/* ======== BLOG MAIN ======== */
.free-wall {
  position:relative;
  overflow:hidden;

  &:before{
  	content:'';
  	position:absolute;
  	bottom:0;
  	left:0;
  	background :image-url("shadow.png") bottom left repeat-x;
  	z-index:10;
  	width:100%;
  	height:154px;
  }

  &.noshadow:before{
  	background :none;
  }
  .brick {
    background:white;
    width:32.5%;
    color: #333;
    border: none;
    float: left;
    cursor: default;
    overflow: hidden;
    margin:0 3px 6px 3px;
    
    &.full{
    	width:48%;
    	margin-bottom:18px;
    	margin-right:6px;
    }
  }
  .info {
   padding: 15px;
   color: #333;
  }

  @media (max-width:979px){
  	.brick{
  		&.full{
  			width:98%;
  			margin-right:0;
  			margin-bottom:13px;
  		}
  	}
  }
}
.brick{
	header{
		font-family: 'montserratregular';
		font-size:12px;
		text-transform:uppercase;
		color:#3a3a3a;
		padding:5px 15px;

		p{
			margin-bottom:0;
			color:#9d8a3f;
		}

		&.orange{
			background:#ebcb45;
		}

		&.blue{
			background:#a2ccff;
			p{color:#728aa9}
		}
		&.dk_blue{
			background:#a0d9cf;
			color:#71938d;
		}
	}
	.item{
		padding:20px 30px 20px 30px;	
	}
	.ourbox, .subscribe-box{
		margin-bottom:0;
	}

	.inner{
		position:relative;
		&:hover{
			.overlay{
				@include opacity(1);
			}
		}
	}

	.overlay .fa-search-plus{
		font-size:5em;
		color:#000000;
	}
	.overlay span{
		font-size:18px;
		font-family:'Georgia', sans-serif;
		text-transform:uppercase;
		color:#000000;
	}
	.overlay .text{
		bottom:35%;
	}
}

.wallarticle{
	figure{
			max-width:450px;
			margin-bottom:15px;
			text-align:center;
		}

	p.f_title{
		margin-bottom:18px;
	}

	.tubevid{
		margin-bottom:18px;
	}
}


/* ======== BLOG STORIES ======== */
.post-item{
	overflow:hidden;
	border-bottom:4px solid #d6d6d6;
	padding-bottom:12px;
	margin-bottom:40px;
	&.last{
		margin-bottom:10px; /*UPDATE*/
	}
	.title_unline{
		margin-top:0;
	}
	a.link{
		color:#46a596;
		text-tranform:uppercase;
		font-family: 'montserratregular';
		font-size:13px;
	}

	/*UPDATE*/
	figure{
		display:block;
		text-align:center;
		margin-bottom:20px;
		@include size(100%, 342px);
		text-align:center;
		overflow:hidden;
		text-align:center;

		@media (max-width: 480px){
			height:250px;
		}
		@media (max-width: 330px){
			height:170px;
		}
	}
	/*UPDATE*/

	footer{
		padding-top: 12px;
		border-top: 1px dotted #bebebe;
		margin-top: 15px;
		p{
			margin-bottom:0;
		}
	}
}

/* ======== BLOG ABOUT ======== */
#blog_about{
	.bg-white{
		margin-bottom:28px;
	}
}
.text_strong{
	color:#000000;
	font-family: 'montserratregular';
	text-transform:uppercase;
}
.miniseries{
	li{
		display:block;
		margin-bottom:20px;
	}
	a{
		font-weight:normal;
		text-decoration:underline;
		color:#666666;
		@include prefixed (transition, all 0.4s linear);
		display:block;

		&:hover{
			color:#000000;
		}
	}

	span{
		display:block;
		font-family: 'montserratregular';
		text-transform:uppercase;
		color:#4ba696;
		font-size:12px;
	}
}

/* ======== COMMENT ======== */
.comment{

	header{
		border-bottom:1px solid  #d9d9d9;
		margin-bottom:20px;
		padding-bottom:20px;
		.title_cmt{
			margin-bottom:5px;
		}
		p{
			margin-bottom:0px;
		}
	}

	.avatar{
		@include size(70px, 70px);
		float:left;
		margin-right:15px;
		padding:5px;
		border:1px solid #c4c4c4;
	}
	.top, .ov-flow{
		overlow:hidden;
	}

	.ov-flow{
		padding-top:2.5%;
	}


	ul li{
		display:block;
		border-bottom:1px solid #d9d9d9;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	.name{
		font-weight:normal;
		color:#4ba696;
		font:12px "montserratregular";
		display:block;
		text-transform:uppercase;
	}

}

.title_cmt{
	font-weight:normal;
	font: 14px 'montserratregular';
	margin:0;
	margin-bottom:15px;
	text-transform:uppercase;	
}

/*================ UPDATE ===================== */
.featpost{
	width:99%;
	.bg-white{
		overflow:hidden;
		margin-bottom:25px;
	}
	.barylow{
		color:#9d8b41
	}
	figure{
		@include size(268px, 176px);
		overflow:hidden;
		float:left;
		margin-right:18px;
		img{
			position:relative;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: orange;
		}

		@media (max-width: 979px){
			margin:0 auto 15px auto;
			float:none;
		}
		@media (max-width: 330px){
			@include size(135px, 200px);
		}
	}
	.desc{
		overflow:hidden;
		@media (max-width: 979px){
			overflow:normal;
			text-align:center;
		}
	}
	.f-title{
		margin-top:0;
	}
	.f-title a{
		color:black;
		&:hover{
			color:#ebcb45;
		}
	}
}


/* ======== PAGINATION ======== */
.pagination{
	width:100%;
	oveflow:hidden;

	a, strong{
		background: none;
	    display: inline-block;
	    margin-right: 3px;
	    padding: 4px 12px;
	    text-decoration: none;
		line-height: 1.5em;
		color:black;
		font-family: 'montserratregular', sans-serif;

		@media (max-width: 979px){
			font-size:12px;
			padding:4px 8px;
		}

		@media (max-width: 979px){
			font-size:12px;
			padding:4px 8px;
		}
		@media (max-width: 330px){
			display:block;
			text-align:center;
			float:none !important;
		}
	}

	a{
		&:hover{
		    background: #9ed8cf;
		    color: black;
		}
		a:active {
			background: #9ed8cf;
		}
	}
	strong {
   	 	color:black;
    	background: #9ed8cf;
    	font-weight:normal;
	}

	.next, .prev{
		background:#a0d9cf;
		text-transform:uppercase;
		&:hover{
			@include opacity(0.7);
		}
	}
	.next{
		float:right;
	}
}




