/*==========================================================================
  BROWSE
========================================================================== */


/* ======== ADVANCE SEARCH ======== */

.src-topics{
	overflow:hidden;
}

.splashProd{
	overflow:hidden;
	margin-bottom:18px;
	@include min-height(85px);
	
	figure{
		@include size(78px, 78px);
		float:left;
		margin-right:25px;
		border:5px solid #ebcb45;
		@include prefixed(transition, all 0.3s ease-in-out);

		&:hover{
			@include opacity(0.6);
		}
	}

	.desc{
		overflow:hidden;
		font-size:14px;
		color:#666666;
		h5{
			font: 600 1em "proxima-nova", sans-serif;
			margin-bottom:5px;
			text-transform:uppercase;
			a{
				text-decoration:none;
				color:black;
				@include prefixed(transition, all 0.3s linear);
			}

			a:hover{
				color:#ebcb45;
			}
		}
		p{
			font-family: 'Sanchez', serif;
		}

	}
}	

.btm-border{
	border-bottom:1px solid #101010;
	overflow:hidden;
	margin-bottom:15px;
	.title_unline{
		margin-bottom:15px;
	}
}
.sortir{
	@include inline-block();
	float:right;
	text-align:right;
	vertical-align:middle;
	padding:18px 0;

	li{
		@include inline-block();
		margin-left:20px;
		text-transform:uppercase;
		font-size:13px;
		i{
			color:#ebcb45;
		}
		a{
			font-style:italic;
			color:black;
			border-bottom:1px solid #ebcb45;

			&:hover{
				text-decoration:none;
			}
		}
	}

	.title_unline{
		margin:0;
		font-weight:normal;
		margin-top:2px;
	}
}


.barylow{
	background:#ebcb45;
	position:relative;
	padding: 5px 15px;
	cursor:pointer;

	vertical-align:middle;
	color:black;
	text-transform:uppercase;
	font-family: 'montserratregular';

	&.right{	
		text-align: right;
		padding-right: 40px;
		font-weight: 400;
	}

	i{
		position: absolute;
		top: 16%;
		right: 10px;
		color: black;
		font-size: 21px;
	}
}

.f-grey{

	.btn_mgenta{
		background:black;
		color:white;
	}

	.form-control{
		background:white;
	}

	.sbHolder{
		background:white !important;
		border:1px solid transparent;
		&:hover{
			border:1px solid #eacc4e;
		}

	}

	.sbToggle{
		background: image-url("arr_dwn.png") 50% 50%  no-repeat;
		&:hover{
			background: image-url("arr_dwn.png") 50% 50%  no-repeat;
		}

		&:focus{
			background: image-url("arr_dwn.png") 50% 50%  no-repeat;
		}
	}
}

.prodItem{
	overflow:hidden;
	background:white;
	padding:25px;
	margin:15px 0;
	position:relative;
	border:3px solid transparent;
	&:hover{
		border: 3px solid #a0d9cf;
	}
	.top{
		overflow:hidden;
		padding:0 30px;
		margin:0 auto;
		margin-bottom:15px;
		padding-bottom:15px;
		border-bottom:1px solid black;
	}
	figure{
		@include size(250px, 250px);
		float:left;
		margin-right:30px;		
		img{
			border:1px solid #d5d5d5;
		}
	}
	.desc{
		overflow:hidden;
		.author{
			display:block;
			margin-bottom:8px;
		}

		.remore{
			text-decoration:underline;
			text-transform:uppercase;
			color:#4ba696;
			font-family: 'montserratregular';
		}
	}

	.bottom{
		text-align:right;
		a{
			text-transform:uppercase;
			color:black;
			@include prefixed(transition, all 0.2s ease-in-out);
			@include inline-block();
			&.last{
				margin: 0 20% 0 5%;
			}
			&:hover{
				color:#ebcb45;
				text-decoration:none;
			}
			span{
				border-bottom:1px solid #d5d5d5
			}
		}
	}

	.buybtn_wrap{
		margin-top:15px;
		.btn_mgenta{margin-right:6px;font-size:13px;}
	}

}

.tit-Prod{
		text-transform:uppercase; 
		font-size:16px;
		font-family: 'montserratregular';
		margin-bottom:10px;
		line-height:1.4em;
		margin-top:0;

}

.ribbonsale{
	position:absolute;
	right:0;
	top:0;
	@include size(90px, 90px);
}