/*==========================================================================
  CATALOGUE
========================================================================== */
.newCatalog{
	overflow:hidden;
	figure{
		@include size(150px, 210px);
		float:left;
		margin-right:18px;
	}
	.desc{
		overflow:hidden;

		h3{
			font-size:20px;
			margin:0;
			margin-bottom:12px;
		}
		.btn_mgenta{
			font-size:12px;
		}
		.btn_mgenta.btm{
			margin-top:8px;
			width:265px;
		}
	}
}

.subscribe-box{
	&.catlogform
	{
		margin-bottom:0;
		min-height:270px;
	}
}

.catalogart{
	&.item{
		padding:30px 20px;
	}
	text-align:center;
	figure{
		text-align:center;
		margin:0 auto;
		margin-bottom:18px;
		max-width:150px;
		overflow:hidden;
	}

	.btn_mgenta{
		font-size:12px;
	}
}