/*==========================================================================
  COLLECTORS
========================================================================== */
#collector{
	border-left:1px solid #d1d1d1;
	figure{
		margin-bottom:20px;
	}
	header{
		margin-bottom:15px;
		strong{
			font-weight:normal;
			font-family: 'montserratbold';
			color:black;
		}
		span{
			color:#4ba696;
		}
	}

	@media (max-width: 767px){
		border:0;
	}
}

.listColect-name{
	li{
		display:block;
		margin-bottom:8px;
		a{
			display:block;
			padding:3px 0;
			color:#4ba696;
			font-family: 'montserratregular';

			&:hover{
				color:black;
				text-decoration:none;
			}
		}

		&.active {
			a{
				color:black;
			}
		}
	}

	@media (max-width: 767px){
		margin-bottom:25px;
		li {
			border-bottom:1px solid #d1d1d1;
		}
	}
}