/*==========================================================================
  CONTACT
========================================================================== */
.addreslist{
	margin-bottom:40px;
}
.addsItem{
	background:white;
	overflow:hidden;
	padding:25px 0;

	article{
		padding-bottom:50px;
		@include min-height(340px);

		@media (max-width: 767px){
			@include min-height(0);
			margin-bottom:20px;
		}
	}

	.boder{
		border-right:1px solid #cee1cf;
	}

	strong{
		font-family: 'montserratbold';
		color:black;
		font-size:13px;
	}


	.btn_mgenta{
		position:absolute;
		bottom:0;
		left:0;
		left:16px;
	}


}


.spacetxt{
	display:block;
	margin-bottom:10px;
}

