/*==========================================================================
  PRODUCT DETAIL
========================================================================== */

.thumb-dtl{
	text-align:center;
	max-width:568px;
	height:455px;
	position:relative;	
	margin:0 auto;
	overflow:hidden;
	margin-bottom:20px;
	border:1px solid #cccccc;
	text-align:center;

	img{
	  left: 50%;
	  top: 50%;
	  @include prefixed(transform, translate(-50%, -50%));
	}

	span{
		background:white;
		@include inline-block;
		position:absolute;
		padding:4px 9px;
		text-align:center;
		font-weigh:700;
		right:10px;
		top:10px;
		@include border-radius(50%);
	}
}
.detail-btn{
	overflow:hidden;
	&.vertical{
		.bg-whiteDtl{
			@include min-height(500px);
		}
	}

	&.horiz{
		text-align:center;
		a{
			@include inline-block;
			margin:0 3px;
			margin-bottom:7px;
			padding: 8px 10px;
			font-size: 11px;
		}
	}

	a{
		display:block;
		background:#ebcb45;
		vertical-align:middle;
		padding: 10px 15px;
		color:black;
		text-transform:uppercase;
		font-style:italic;
		margin-bottom:8px;
		@include prefixed(transition, all 0.3s linear);

		&:hover{
			text-decoration:none;
			background:black;
			color:white;
		}
	}
}

.bg-whiteDtl{
	background:white;
	padding:20px;
	margin-bottom:20px;
	overflow:hidden;
}

.return{
	text-transform:uppercase;
	display:block;
	float:right;
	color:black;
	font-style:italic;
	padding-top:22px;

	&:hover{
		color:#ebcb45;
	}
}

/* ======== DETAIL ALTERNATIVE ======== */
.two-thumb{
		overflow:hidden;
		.thumb-dtl{
			max-width:430px;
			height:360px;
			float:left;
			margin:0 10px;
		}
	}

/* ======== ADD STYLE ======== */

.blockqt{
	border-left:0;
	background:image-url("blockqt.png") 0  6px no-repeat;
	padding:0;
	padding-left:81px;
	@include min-height(60px);
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	color:black;
	line-height:1.3em;
}

.bg-whiteDtl{
	header{
		margin-bottom:27px;
		font-family: 'Sanchez', serif;
		h5{
			margin:0;
			font-family: 'Sanchez', serif;
			font-size:18px;
			color:black;
			text-transform:uppercase;
			margin-bottom:9px;
			font-weight:400;
		}
		span{
			display:block;
			margin-bottom:5px;

			&.type{
				color:#666666;
			}
			&.price{color:#000000}
			&.code{color:#ababab}
		}
	}
}

/*==========================================================================
  DETAIL REV
========================================================================== */

.btn_grey{
	&.full{
		width:100%;
	}
}
.title_dtlbook{
	 h4{
		font: 600 25px 'adobe-caslon-pro', sans-serif;
		color:black;
		text-transform: uppercase;
		margin-bottom:4px;
		line-height:1.3em;
	}
	p{
		color:#5d5d5d; 
		text-transform:uppercase;
		font: 14px 'adobe-caslon-pro', sans-serif;
		a{
			color:#6c6c6c;
			@include inline-block();	 
		}
	}
}

.sidebtn{
	.costcode{
		border:2px solid #e2e2e2;
		color:black;
		text-transform:uppercase;
		span{
			@include inline-block();
			padding: 8px 12px;
			text-align:center;
			font-weight:700;
			width:50%;
			&.line{
				border-left:2px solid  #e2e2e2;
			}

		}
	}

	.btn_mgenta, .btn_grey{
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:12px;
	}
}

.descbook{
	.tit-Prod{
		font-size:14px;
	}

	blockquote{
		border:none;
		border-top:2px solid #e6ce48;
		border-bottom:2px solid #e6ce48;
		color:black;
		font: 600 italic 21px "adobe-caslon-pro", sans-serif, Arial;
		padding-left:0;
		line-height: 1.3em;
		margin:20px 0;
		padding:20px 0;

	}
}

.bgwhite{
	background:white;
	padding:20px;
}

.book_list{
	border-top:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
	background:#ececec;
	@include min-height(300px);
}

.btn_print{
	border:none;
	background:none;
	@include border-radius(0);
	background:white;
	background-repeat:no-repeat;
	color:#4d4d4d;
	text-align:center;
	text-transform:uppercase;
	@include inline-block;
	width:100%;
	font:14px 'montserratregular', sans-serif;
	padding:7px 15px;
	@include prefixed(transition, all 0.4s ease-in-out);
	text-decoration:none;
	border:3px solid #e4e4e4;

	&:hover{
		background:#ebcb45;
	}
}

/* ======== IMAGE GRID ======== */

#gridimage {
	.jspDrag{background: #ebcb45;}
	.jspHorizontalBar{
		left:21%;
	}
	.jspTrack{
		background: #BDBDBD;
	}

	@media (max-width:797px){
		.jspHorizontalBar{
			left:0;
		}
	}
}
@import "freewall_grid";