/*==========================================================================
  FAQ
========================================================================== */
#faq{
		background: white;
		padding: 30px 30px;
		oveflow:hidden;

		.shiplist{
			.desc{
				padding-left:0;
			}
		}
}

.faqlist{
	margin-bottom:40px;

	.desc{
		display:none;
	}
}
.toglefaq-st{
	overflow: hidden;
	background-color: #cecece;
	margin-bottom: 25px;
	@include min-height(64px);
	background-image: image-url("tgl_open.png");
	background-repeat:no-repeat;
	background-position:right top;
	vertical-align:center;
	cursor:pointer;

	&.open{
		background-image: image-url("tgl_close.png");
	}

	p{
		text-transform: uppercase;
		margin-bottom: 0;
		height:64px;
		padding:0 80px 0 20px;
		display: table-cell;
		vertical-align:middle;
		color: black;
		overflow: hidden;
		font: normal 14px 'montserratregular';
	}

	@media (max-width: 979px){
		p{
			padding: 10px 80px 10px 20px;
			font-size:12px;
			line-height: 1.8em;
		}
	}
}