/*==========================================================================
  FOOTER
========================================================================== */
#footer{
	background:#dddddd;
	overflow:hidden;
	padding:20px 0 0 0;
}
.f-catlog{
	overflow:hidden;
	margin-bottom:45px;
	padding-bottom:5px;
	h4{
		font: bold 18px "Georgia", sans-serif, Arial;
		text-transform: uppercase;
		margin-bottom: 15px;
		letter-spacing: 0.07em;
	}
	.form-group{
		width: 42%;
		margin-right: 13px;
		padding-left:5px;
	}
	.form-control{
		background:white;
	}
}

.wdg-foot{
	margin-bottom:15px;
	
	h4{
		color:black;
		border-bottom:1px solid #666666;
		margin-bottom:8px;
		padding-bottom:5px;
		text-transform:uppercase;
		font-family:"montserratregular", Helvetica Neue, sans-serif;
		font-size:14px;
	}
	ul{
		li{
			display:block;
			font-size:14px;
		}

		a{
			color:#666666;
			text-decoration:none;
			@include prefixed(transition, all 0.2s linier);

			&:hover{
				color:black;
			}
		}
	}

	&.locate{
		li{
			margin-bottom:15px;
		}
	}
}

.left-btm {
	figure{
		float:left;
		margin-right: 15px;
	}
	.copyright{
		color:#666666;
		font-size:12px;
		padding-top:11%;
		margin:0;
		font-weight:400;

		a{
			color:black;
			text-decoration:underline;
		}
	}
}

.share-btm{
	text-align:center;
	padding-top:4.5%;
	a{
		@include inline-block;
		margin:0 8px;
		@include prefixed(transition, all 0.4s ease-in-out);
		
		&:hover{
			@include opacity(0.6);
		}

		&.tube{
			@include spr-sprite(tube);
			@include size(27px, 30px);
		}

		&.tweet{
			@include spr-sprite(tweet);
			@include size(32px, 21px);
		}

		&.fb{
			@include spr-sprite(fb);
			@include size(16px, 31px);
		}

		&.pintrest{
			@include spr-sprite(pinterest);
			@include size(32px, 30px);
		}

		&.google{
			@include spr-sprite(google);
			@include size(29px, 31px);
		}

		&.vimeo{
			@include spr-sprite(vimeo);
			@include size(31px, 27px);
		}
	}
}


	

