/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
*/

#gridimage {
  position: relative;
  padding: 10px 0;
  width: 940px\9;
  max-width: 940px;
  margin: 0 auto;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.scroll-panegrid {
  width: 100%;
  overflow: auto;
  outline: none;
}
.scroll-panegrid.horizontal-only {
  height: auto;
  max-height: 550px;
}

#gridimage .bookglery {
  padding-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
/*.bookitem {
  width: 388px;
  background-color: transparent;
  float: left;
  cursor: default;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}*/
.mainBookItem, .bookitem{
     float: left;
     height: 500px;
     margin:0 9px;
}
.mainBookItem
{
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 56%;
}

.bookitem{
  overflow: auto;
  width: 40%;
}
.bookitem figure
{
  width: 93%;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 10px auto;
}

.bookitem figure img{
  height: auto;
  width: 100%;
}


@media (max-width: 979px) {
  .mainBookItem, .bookitem  {
    float: none;
     margin: 10px auto;
  }

  .bookitem{
    width: 98%;
  }

  .bookitem figure{
      float: left;
      width: 47%;
      margin: 10px;
  }
}

@media (max-width: 767px) {
  .mainBookItem{
    width: 80%;
  }
  .bookitem{
    width:99%;
  }

    .bookitem figure{
      width: 45%;
    }
}

@media (max-width: 330px){
  .mainBookItem{
    width: 90%;
    height: 400px;
  }
  .bookitem figure{
    width: 80%;
    float: none;
    margin:10px auto;
  }
} 
.rest-left {
	margin-left: 244px;
}


.brick .cover {
	overflow: hidden;
	margin: 20px;
}

.brick .read-more {
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 12px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.45);
}

.brick:hover .read-more {
	display: block;
	cursor: pointer;
}

.brick .desc {
	display: none;
}

.full-width .float-left {
	display: none;
}

.full-width .desc {
	display: block;
}

.full-width.brick {
	box-shadow: none;
	overflow: visible;
	border: none !important;
	background: none !important;
}

.full-width.brick .cover { 
	margin: 0px 20px;
	color: #333;
}

.full-width.brick .cover * {
	text-shadow: none;
}

.full-width.brick .cover code {
	color: #666;
}

.open .float-left {
	display: none;
}

.open .desc {
	display: block;
}

.example {
	width: 0px;
	height: 0px;
	overflow: visible !important; /* for ie7 */
}

.cell {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	background-color: #222;
}

[class*="-share"] {
	cursor: pointer;
	margin: 20px 0;
	line-height: 30px;
	padding-left: 30px;
}

.facebook-share {
	background: url(../i/fb.png) no-repeat left center;
}

.twitter-share {
	background: url(../i/tw.png) no-repeat left center;
}

.google-share {
	background: url(../i/gp.png) no-repeat left center;
}

.download-icon {
	background: url(../i/download.png) no-repeat left center;
	display: block;
	margin: 0 0 10px 0;
	line-height: 30px;
	padding-left: 30px;
}

.js-icon {
	background: url(../i/js.png) no-repeat left center;
	display: block;
	line-height: 30px;
	padding-left: 30px;
}