/*==========================================================================
  GLOSSARY
========================================================================== */

.glossary_list{
	border-bottom:1px solid #cccccc;
	padding-bottom:28px;
	margin-bottom:28px;
	ul{
		position:relative;
		li{
			margin-right:15px;
			word-wrap:break-word;
			display:block;
		}
		a{	
			color:#666666;
			font-size:0.9em;
			@include prefixed(transition, all 0.2s linear);
			&:hover{
				color:#000000;
			}
		}
	}
}

.glossnote{
	overflow:hidden;
}

.gloss_bntwrap{
	width:91%;
	float:right;

	@media (max-width: 979px){
		float:none;
		width:100%;
	}
}


