/*==========================================================================
  HEADER
========================================================================== */
#header{
	background:#000000;
	color:white;

	.first-row{
		margin:15px 0;
		margin-bottom:78px;
	}
	#logo, .search, .socSign{
		float:left;
	}
	#logo{
		width:37%;
		margin:0;
		padding:0;
		line-height:1em;
		margin-right:15px;
	}
	
	.list-inline{
		li{
			width:114px;
			margin:2px 0;
		}
	}
}


.socSign{
		width:25%;
		text-transform:uppercase;
		font-size:14px;
		position:relative;
		a{
			color:white;
			@include prefixed(transition, all 0.4s ease-in-out);
			vertical-align:middle;
			text-transform:uppercase;
			font-size:11px;
			&:hover{
				color:#e9ba2c;
			}
		}
		.list-social, .sign{
			@include inline-block();
			margin:0;
		}
		.list-social{
			margin:0 29px;
		}
}

#shadcart{
	background: rgba(0, 0, 0, .5);
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:990;
	display:none;
}
.popClose{
	background:red;
	position:absolute;
	right: -13px;
	top: -15px;
	@include size(28px, 28px);
	display:block;
	background: image-url("close2.png") no-repeat;
	cursor:pointer;
}
.popCart{
	display:none;
	left:50%;
	top:30%;
	width: 400px;
	margin-left: -200px;
	max-width: 400px;
	position:fixed;
	z-index:999;
	background:white;
	border:1px solid #dddddd;
	color:black;
	font-size:11px;
	padding:0 5px 15px 5px;
	@include box-shadow(black 2px 2px 10px);
	.tabwrap{
		oveflow:scroll;
		height:200px;
	}
	.total{
		display:block;
		border-top:1px solid #dddddd;
		padding-top:8px;
		text-align:right;
		font-family: 'montserratregular';
		font-size:12px;
		padding-right:10px;
	}
	table{
		color:black;
		td{
			border-top:1px solid black;
		}
		a{
			color:#4ba696;
			font-size:11px;
		}
		figure{
			@include size(50px, 50px);
			overflow:hidden;
		}
	}
}


.search{
		width:33%;
		margin-right:25px;
		padding-top:10px;
		.form-control{
			border:1px solid #bdbdbd;
			font-size:14px !important;
			background: image-url("src.png") 7px 50% no-repeat #ffffff;
			padding-left:35px;
			text-transform:uppercase;
			font-style:italic !important;
			height:32px;
		}
	}

/* ======== LOCATION ======== */

.location{
	.title_line{
		font-size:24px;
		text-align:left;
	}

	figure{
		max-width:698px;
		margin:0 auto;
		text-align:center;
		overflow:hidden;
	}
}
.address{
	li{
		display:block;
		margin-bottom:15px;
	}
	a{
		background: image-url("locate.png")  0 5px no-repeat;
		padding-left:18px;
		display:block;
		text-transform:uppercase;
		color:#5b5a5a;

		&:hover{
			text-decoration:underline;
			color:black;
		}
	}
}


/*==========================================================================
  NEW HEADER
========================================================================== */

#toprow{
	padding:5px 0 15px 0;
}
.listop{
	text-align:right;
	margin-bottom:16px;
	a{
		color:white;
		@include prefixed(transition, all 0.4s ease-in-out);
		vertical-align:middle;
		text-transform:uppercase;
		font-size:11px;
		&:hover{
			color:#e9ba2c;
		}
	}
	li{
		@include inline-block();
		margin-left:20px;
		
	}
	.list-social, .sign{
		@include inline-block();
		margin:0;
	}
	.fa{
		color:#656565;
	}

	@media (max-width: 979px){
	    	text-align:center;
  	}
}

#logo-alt{
	margin:15px 0 4px 0;
	margin-top:0;
}

/* ======== NEW MENU LOGO ======== */
.menu-logo{
	margin-left:57px;
	li{
		@include inline-block();
		line-height: 1em;
		font-family: 'montserratregular';
		&:last-child{
		   a{
				border-right:0;
			}
		}

		a{
			color:#ffffff;
			font-size: 10px;
			text-transform: uppercase;
			border-right:1px solid #676767;
			padding: 0 6px;
			&:hover{
				color:#ddc238;
				text-decoration:none;
			}
		}
	}
}


.fsearch{
	.form-control{
		border:1px solid #bdbdbd;
		font-size:14px !important;
		background: image-url("src.png") 7px 50% no-repeat #ffffff;
		padding-left:35px;
		text-transform:uppercase;
		font-style:italic !important;
		height:32px;
		width:62%;
		margin-bottom:5px;
		float:right;


		@media (max-width: 979px){
	    	width:100%;
	    	float:none;
  		}
	}
	.advsrc{
		text-align:right;
		font-size:13px;
		a{
			color:white;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}

#fixed-toprow{
	background:black;
	width:100%;
	position:fixed;
	top:-500px;
	left:0;
	z-index:9999;
	padding-top:13px;
	@include prefixed(transition, 1s ease);


	@media (max-width: 979px){
	    display:none !important;
  	}

	&.motion{
		@include opacity(1);
	}

	#logomini{
		float:left;
		margin:0;
		margin-right:35px;
		position:relative;
		width:83px;
		border:1px solid transparent;

		img{
			position:absolute;
			left:0;
			top: -14px; 
			@media (max-width: 979px){
			    position:relative;
		  	}
		}
	}

	.socSign{
		width:70%;

		li{
			@include inline-block();
			width: 38%
		}
	}

	.fsearch .form-control{
		width:100%;
	}
}

#leftTop{
	@media (max-width: 979px){
	    text-align:center;
	    margin-bottom:30px;
  	}

}

#rightop{
	@media (max-width: 979px){
	    text-align:center;
  	}
}

/*==========================================================================
  //END NEW HEADER
========================================================================== */


