/*==========================================================================
  HOMEPAGE
========================================================================== */
.videoFeat, .lat_catlg{
	width:98%;
	margin:0 auto;
}
/* ======== FEAT VIDEO ======== */
.videoFeat{
	overflow:hidden;

	.video{
		margin-bottom:20px;
	}
}


/* ======== LATEST CATALOGUE ======== */
.lat_catlg{
	figure{
		text-align:center;
		max-width: 800px;
		margin:0 auto;
		margin-bottom:25px;
		overflow:hidden;
		clear:both;
		a:hover{
				@include opacity(0.8);
				@include prefixed(transition, all 0.4s ease-in-out);
		}
		img{
			
		}
	}

	p{
		line-height:1.8em;
		display:table;
		margin:0 auto;
	}
	a{
		color:black;
		text-decoration:underline;
		@include prefixed(transition, all 0.4s ease-in-out);
		&:hover{
			color:#e9ba2c;
		}
	}

	.date{
		text-transform:uppercase;
		font-style:italic;
	}
}

/* ======== LATEST BLOG ======== */
.lt_blog{
	figure{
		text-align:center;
	}

	.desc{
		overflow:hidden;
	}
}

/* ======== FEATURED BOOK ======== */
.ft-bookItem{
	figure{
		margin:0 auto 20px 0;
		max-width:280px;
		overflow:hidden;
		text-align:center;
	}

	.upcase{
		margin-bottom:0;
	}
}


.scroll-pane
{
	width: 100%;
	overflow:auto;
	outline : none;
	&.horizontal-only
	{
		height: auto;
		max-height: 550px;
	}
}

/* ======== BROWSE ROW ======== */
#browse_row{
	outline : none;
	ul{
		white-space:nowrap;
  		outline : none;
  		text-align:center;
  		margin-bottom:30px;
		li{
			@include size(245px, auto);
			background:white;
			color:#9a9a9a;
			overflow:hidden;
			padding-bottom:20px;
			margin:15px 15px;
			@include inline-block();
			@include min-height(425px);
			white-space:nowrap;

			figure{
					@include size(100%, 300px);
					overflow:hidden;
					text-align:center;
					margin-bottom:20px;
			}

			a{
					color:#9a9a9a;
					text-decoration:none;
			}

			.desc{
				position:relative;
				padding:16px 10px;

				&:before, &:after{
					content:"";
					position:absolute;
					@include size(20%, 1px);
					margin:0 auto;
					left:50%;
					margin-left:-30px;
				}

				&:before{
						top:0;
						border-top:1px solid #dadada;
				}
				&:after{
						bottom:0;
						border-bottom:1px solid #dadada;
				}
			}

			.head{
				font: italic 16px "Georgia", Helvetica Neue, sans-serif;
				text-transform:uppercase;
				margin-bottom:5px;
			}
		}
	}

	.jspHorizontalBar{
		height:20px;
	}
	.jspTrack{
		background:#e9e9e9;
	}
	.jspDrag{
		background:#ebcb45;
	}
}

/* ======== CREATE ACCOUNT ======== */
.f-account{
	.form-control{
		@include border-radius(0);	
		border:1px solid #cccccc;
		height:29px;
		font-family:"Georgia", sans-serif, arial;
		font-style:italic;
		background:white;
	}
}

.f-account{
	.checkbox label{
		font-size:14px;
	}

	.btn_ylw{
		float:right;
		clear:both;
		margin-top:15px;
	}
}