/*==========================================================================
  INTRO
========================================================================== */
#intro{
	position:relative;
	z-index:0;
	height:492px;
	overflow:hidden;

	.captiontext{
		position:absolute;
		background:white;
		color:black;
		width:27%;
		height:100%;
		padding:80px 25px 25px 25px;
		right:10%;

		.captitle{
			text-transform:uppercase;
			font-size:18px;
			display:block;
			font-weight:normal;
			margin-bottom:4px;
		}

		@media (max-width: 979px){
	    	right:0;
	    	width:45%;
	    	padding-top:21px;
  		}

  		@media (max-width: 979px){
	    	display:none;
  		}
	}

	.seven_fullwidth .seven_circle{
		@include size(12px, 11px);
		@include opacity(0.7);
		background:image-url("dot.png") 0 0 no-repeat;
	}
	.seven_container .seven_circle.active, .seven_container .seven_circle.active:hover{
		@include opacity(1);
	}

	.seven_fullwidth .seven_bullet_control{
		top: 38px;

		@media (max-width: 979px){
	    	display:none;
  		}
	}
	.seven_fullwidth .seven_bullet_control #seven_bullet_inner_viewport{
		float: right;
		margin-right: 32.3%;
	}
}


.slidewrap{
	max-width:1390px;
	margin-right:auto;
	margin-left:auto;
	margin-top:5.5%;
	position:relative;

	.bx-controls{
		position:absolute;
		top:0;
		left:63px;
		width:100%;
		z-index:100;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		background : image-url("dot.png") 0 0 no-repeat;
		@include border-radius(0);
		@include opacity(0.6);
		@include prefixed(transition, all 0.3s linier);
		@include size(12px, 11px);
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
		@include opacity(1);
		background : image-url("dot.png") 0 0 no-repeat;
	}
	.bx-wrapper .bx-controls-direction a{
		display:none
	}

	.bx-wrapper .bx-pager{
		@include hide-text();
		right:-5px;
		width:28%;
		top:40px;
		text-align:left;
	}

	.thumb{
		float:left;
		margin-right:40px;
		max-width:732px;
	}
	.desc{
		overflow:hidden;
		padding-top:3%;
		width:28%;

		h3{
			font-weight:normal;
			font: 28px "proxima nova", Helvetice Neue, sans-serif; 
			font-weight:400;
			letter-spacing: 0.03em;
			color:black;
			margin-bottom:35px;
		}

	}

	.bx-wrapper .bx-viewport{
		background:none;
		border:0;
		@include box-shadow(none);
	}
}

/* ======== RIGHTSLIDE ======== */
.rightslide{
	max-width:1390px;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	position:relative;
	
	.bx-controls{
		position:absolute;
		top:0;
		left:0;
		margin-left: 224px;
		width:100%;
		z-index:100;

		@media (max-width: 979px){
			position:relative;
			margin-left:0;
			top:auto;
			bottom:0;
			text-align:center;
		}
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
		background : image-url("dot.png") 0 0 no-repeat;
		@include border-radius(0);
		@include opacity(0.6);
		@include prefixed(transition, all 0.3s linier);
		@include size(12px, 11px);
	}

	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
		@include opacity(1);
		background : image-url("dot.png") 0 0 no-repeat;
	}
	.bx-wrapper .bx-controls-direction a{
		display:none
	}

	.bx-wrapper .bx-pager{
		@include hide-text();
		width:auto;
		top:0;
		text-align:left;

		@media (max-width: 979px){
			width:100%;
			text-align:center;
		}
	}

	.thumb{
		margin-right: -10px;
		max-width:732px;
		float:right;

		@media (max-width: 979px){
			    float:none;
			    width:90%;
			    margin:0 auto;
			    margin-bottom:20px;
		  	}
	}
	.desc{
		overflow:hidden;
		padding-top:3%;
		width: 27%;
		float: right;
		margin-right: 28px;

		h3{
			font-weight:normal;
			font: 25px "proxima nova", Helvetice Neue, sans-serif; 
			font-weight:400;
			letter-spacing: 0.03em;
			color:black;
			margin-bottom:20px;
		}

		@media (max-width: 979px){
			float:none;
			margin:0 auto;
			width:80%;
			padding-top:0;

		}

	}

	.bx-wrapper .bx-viewport{
		background:none;
		border:0;
		@include box-shadow(none);
	}
}

/* ======== END RIGHTSLIDE ======== */

/* ======== ROYAL SLIDER ======== */
#full-width-slider {
  width: 100%;
  color: #000;
}


/*==========================================================================
  NEW STYLE INTRO
========================================================================== */
      #full-width-slider {
        width: 100%;
        color: #363636; /*update*/
      }
      .coloredBlock {
        padding: 12px;
        background: rgba(255,0,0,0.6);
        color: #363636; /*update*/
         width: 200px;
         left: 20%;
         top: 5%;
      }
      .bContainer {
        position: absolute;
        top:0;
        left: 0;
        max-width: 25%;
        background: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        padding: 20px;

      }
      .rsABlock {
        position: relative;
        display: block;
        left: auto;
        top: auto;

      }
      .infoBlock {
        position: absolute;
        top: 30px;
        right: 30px;
        left: auto;
        max-width: 25%;
        padding-bottom: 0;
        background: #FFF;
        background: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        padding: 20px;
      }
      .infoBlockLeftBlack {
        color: #FFF;
        background: #000;
        background: rgba(0,0,0,0.75);
        left: 30px;
        right: auto;
      }
      .infoBlock h4 {
        font-size: 22px;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 3px;
        font-family: "proxima-nova";
        font-weight: 400; /*update*/
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .infoBlock p {
        font-size: 15px;
        margin: 4px 0 0;
        font-family: "proxima-nova";

      }
      .infoBlock a {
        text-decoration: none;
        color: black;
      }
      .photosBy {
        position: absolute;
        line-height: 24px;
        font-size: 12px;
        background: #FFF;
        color: #000;
        padding: 0px 10px;
        position: absolute;
        left: 12px;
        bottom: 12px;
        top: auto;
        border-radius: 2px;
        z-index: 25; 
      } 
      .photosBy a {
        color: #000;
      }
      .fullWidth {
        max-width: 1400px;
        margin: 0 auto 24px;
      }

      .txtCent {
         display:block;
         line-height: 40px;
        width: 100%; 
      }

      @media screen and (min-width:960px) and (min-height:660px) {
        .heroSlider .rsOverflow,
        .royalSlider.heroSlider {
            height: 520px !important;
        }
      }

      @media screen and (min-width:960px) and (min-height:1000px) {
          .heroSlider .rsOverflow,
          .royalSlider.heroSlider {
              height: 660px !important;
          }
      }
      @media screen and (min-width: 0px) and (max-width: 800px) {
        .royalSlider.heroSlider,
        .royalSlider.heroSlider .rsOverflow {
          height: 300px !important;
        }
        .infoBlock {
          padding: 10px;
          height: auto;
          max-height: 100%;
          min-width: 40%;
          left: 5px;
          top: 5px;
          right: auto;
          font-size: 12px;
        }
        .infoBlock h3 {
           font-size: 14px;
           line-height: 17px;
        }
      }


    .rsMinW .rsBullets{
      bottom:38px;
    }
    .rsMinW .rsBullet{
      margin-right:8px;
    }
    .rsMinW .rsBullet span {
      width:14px;
      height:14px;
    }
    .rsMinW .rsBullet{
      width:16px;
      height:22px;
    }
    .rsMinW .rsArrowRight, .rsMinW .rsArrowLeft{
      bottom:30px;
    }
    .rsMinW .rsBullets{
      right:105px;
    }
    .rsMinW .rsArrowRight{
      left: 50%;
      margin-left: 440px;
    }
    .rsMinW .rsArrowLeft{
      left: 50%;
      margin-left: 407px;
    }

    /*==========================================================================
      NEW SLIDE STYLE
    ========================================================================== */

    .rsMinW, .rsMinW .rsOverflow, .rsMinW .rsSlide, .rsMinW .rsVideoFrameHolder, .rsMinW .rsThumbs{
        color:#363636;
    }
    /* ========  BLOCK BOTTOM WHITE ======== */
    .infoBlockBottom{
      background: white;
      bottom:0;
      left:0;
      top:auto;
      height: auto;
      color: black !important;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }

    .infoBlock.infoBlockBottom{
      overflow: visible;
    }

    .infoBlockBottom h4{
      margin-bottom: 0;
    }

    .infoBlockBottom .btn_ylw{
        margin-top: -22%;
        float: right;
    }

    .infoBlockBottom .centered{
      max-width: 940px;
      margin: 0 auto;
    }

    .infoBlockBottom.centertext{
      text-align: center;
    }
    .infoBlockBottom.centertext h4{
      margin-bottom:10px;
    }
    .infoBlockBottom.centertext .btn_ylw{
       margin-top: 0;
        float: none;
    }

    /* ======== BLOCK LEFT GREY======== */
    .infoBlockLeftGrey{
        background: #ececec;
        left: 0;
        right: auto;
        top:0;
        height: 100%;
        padding-left: 9%;
        padding-top: 40px;
        max-width: 40%;
    }

     /* ======== BLOCK RIGHT GREY======== */
    .infoBlockRightGrey{
        left: auto;
        right: 0;
        top:0;
        height: 100%;
        background: #ececec;
        max-width: 40%;
        padding-right: 10%;
        padding-top: 40px;
        padding-left: 5%;
    }

    .infoBlockRightGrey h4{
       font-size: 2.9em;
        letter-spacing: 1px;
        line-height: 1.2em;
        font-weight: 400;
    }

    /* ======== BLOCK RIGHT WHITE ======== */
    .infoBlockRtWhite{
        background: white;
        top:0;
        left: 50%;
        margin-left: 40px;
        height: 100%;
        padding: 40px 30px 20px;
        max-width:430px;
    }

    /* ======== BLOG NO BACKGROUND ======== */
    .infoBlockNoBg{
        background: transparent;
		top: 0;
		right: auto;
		left: 50%;
		margin-left: -462px;
		height: 100%;
		max-width: 660px;

        .desc{
	        color: white;
			font-size: 2.9em;
			text-align: center;
			line-height: 1.2em;
			position: relative;
			padding: 30px 0;
			margin-top: 38px;
			font-family: "sans-serif";

	        span{
	        	display: block;
	        }

	        &:before, &:after{
	        	content:'';
	        	position: absolute;
	        	margin: auto;
	        	left:0;
	        	right: 0;
	        	height:1px;
	        	width: 100px;
	        	background: white;
	        }

	        &:before{
	        	top:0;
	        	bottom:auto;
	        }
	        &:after{
	        	top:auto;
	        	bottom:0;
	        }
	    }
        
    }

