/*==========================================================================
  LETTER
========================================================================== */
#ltr-text{
	background:white;
	padding:20px;
}

#ltr-people{
	text-align:center;
	color:black;
	font: 600 17px "adobe-caslon-pro", georgia;
	position:relative;
	&:before{	
		content:"";
		position:absolute;
		left:45px;
		bottom:-30px;
		background:image-url("letter/ltr-arrow.png") 0 0 no-repeat;
		@include size(40px, 40px);
	}
	@media (max-width: 767px){
		&:before{
			display:none;
		}
	}

	article{
		background:#ffd200;
		padding:20px;
	}
	figure{
		margin-bottom:20px;
	}

	p{
		line-height:1.4em;
		span{
			display:block;
			text-transform:uppercase;
			margin-top:15px;
			font-size:0.8em;
		}
	}
}

.hrdarken{
	border-top:1px solid #bdbdbd;
}

.bg-white{
	&.nopad{
		padding:0;
	}	
}

#lemorebauman{
	.title_unline{
		text-align:center;
	}
	ul{
		li{
			text-align:center;

			figure{
				margin-bottom:18px;
				height:167px;
				text-align:center;

				img{
					@include size(auto, 167px);
				}
			}
			p{
				strong, a{
					display:block;
					text-transform:uppercase;
					margin-bottom:15px;
					font-weight:700;
					color:black;
					@include prefixed(transition, all 0.3s linear);
					&:hover{
						color:#edbf1f;
						text-decoration:none;
					}
				}
			}

			@media (max-width: 767px){
				margin-bottom:25px;
				padding-bottom:15px;
				border-bottom:1px solid #cecece;
				figure{
					height:auto;
					img{
						height:auto;
					}
				}
			}

		}
	}
}

/*================== END LETTER =================*/