/*==========================================================================
  LOCATION
========================================================================== */

.control-locate{
	overflow:hidden;
	border-bottom:1px solid #b7b7b7;
	margin-bottom:15px;
	text-align:center;
	li{
		float:left;
		width: 32%;
		margin: 0 6px;
		text-align:center;
		&:last-child{
			margin-right:0;
		}
		

		a{
			display:block;
			padding:13px;
			background:#dadada;
			font-family: 'montserratregular';
			color:#848484;
			text-transform:uppercase;
			@include prefixed(transition, all 0.2s linear);

			&:hover{
				text-decoration: none;
				background:black;
				color:white;
			}
		}


		&.active{
			a{
				background:black;
				color:white;
			}
		}

		@media (max-width: 979px){
			float:none;
			@include inline-block;
			width:30%;
		}

		@media (max-width: 330px){
			width:auto;
			display:block;
			text-align:left;
			margin-bottom:10px;
		}
	}
}

#introLocate{
	background:white;
	padding:30px;
	margin-bottom:50px;
	.boder{
		border-right:1px solid #d4d4d4;
	}

	@media (max-width: 767px){
		.boder{
			border:none;
		}
	}
}

.locatumb{
	text-align:center;
	margin-bottom:15px;
}
.shoptime{
	border-bottom:1px solid #cecece;
	overflow:hidden;
	padding-bottom:35px;
	margin-bottom:25px;
	li{
		text-align:center;

		strong{
			display:block;
			text-transform:uppercase;
		}

	}

	@media (max-width: 767px){
		li{
			margin-bottom:15px;
		}
	}
}

.art-locate{
	.right{
		border-left:1px solid #d1d1d1;

		@media (max-width: 979px){
			border:none;
		}

		.btn_mgenta{
			width:100%;
			padding-top:8px;
			padding-bottom:8px;
			margin-bottom:12px;
		}
	}
}

.map-reloc{
	text-align:center;
	a{
		@include prefixed(transition, all 0.3s linear);

		&:hover{
			@include opacity(0.6);
		}
	}
}