/*==========================================================================
  MISC
========================================================================== */

/* ======== CHECK BOX ======== */
.checkbox label{
  display:block;
}
.custom-label {
  display: inline-block;
  margin-right: .8em;
  cursor: pointer;

.tx{
      margin-left:23px;
    }
}
.custom-radio,
.custom-check {
    float:left;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    //top: -.15em; /* Adjust to for best fit */
    top:4px;
    margin: 0 .4em;
    margin-right:0.5em;
    margin-left:0;
    @include size(12px, 12px);
      background: image-url("chkbox2.png") top left no-repeat;
}
#cxBox{
  .custom-check{
      @include size(24px, 24px);
      background: image-url("chkbox.png") top left no-repeat;

      &.checked{
        background-position: bottom left;
      }
  }
}
.radio, .checkbox{
  padding-left:0;
}

.custom-check.focus, .custom-radio.focus { background-position: top left; }
.custom-check.checked, .custom-radio.checked { background-position: bottom left; }
.custom-check.checked.focus, .custom-radio.checked.focus { background-position: bottom left; }


/* ======== MODAL ======== */
.modal-content{
  border:7px solid #a0d9cf;
  @include border-radius(0);

  .close{
    @include size(28px, 28px);
    background: image-url("close2.png") 0 0 no-repeat;
    position:absolute;
    z-index:5;
    right: -18px;
    top: -19px;
    @include opacity(1);
   }


}
.modal-body{
  .title_line{
    border-bottom:1px solid #d4d4d4;
  }

  .title_line{
    i.fa-star{
      color:#a0d9cf;
    }
  }

  .btn_mgenta{
    font-size:12px;
  }
  .btn_grey{
    font-size:12px;
  }

  table.table{
    margin-bottom:10px;
     td{
        border-top:0px;
        padding:3px;
        font-family: 'montserratregular';
     }
  }

  hr {
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
.artpopup{
  overflow:hidden;
  position:relative;
  border-bottom:1px solid #d4d4d4;
  font-family: 'montserratregular';
  padding-bottom:20px;
  margin-bottom:20px;

  
  
    figure{
      @include size(130px, 130px);
      overflow:hidden;
      float:left;
      margin-right:18px;
    }
    p{
        text-transform:uppercase;
        a{
          color:black;
          text-decoration:underline;
        }
    }
    .desc{
      overflow:hidden;
    }

    .btn_grey{
      position:absolute;
      bottom:10px;
      right:0;
    }

    .btn_wrap{
      position:absolute;
      bottom:10px;
      right:0;
     .btn_grey{
        position:relative;
     }
   }
}
/* ======== BXSLIDER ======== */
@import "themes/jquery.bxslider";

/* ======== JSCROLLPANE ======== */
@import "themes/jscrollpane";

/* ======== SELECTBOX ======== */
@import "themes/selectbox";

/* ======== ZOOM ======== */
.zoom{
  left:0;
  top:0;
}
#galleryzoom{
    a{
      @include inline-block();
      overflow:hidden;
      margin-right:8px;
      margin-bottom:10px;
      border:1px solid #cecece;
    }
    img{
      width:100px;
    }
}






