/*==========================================================================
  ADDITIONAL SECTIO FOR MOBILE VIEW
========================================================================== */

/* ======== HEADER ======== */
	#log-xs{
		margin:0;
		line-height:1em;
		text-align:center;
		margin-bottom:25px;
	}
	.phone-xs{
		text-align:center;
		margin-bottom:25px;
		font-size:12px;

		span{
			@include inline-block();
			border:1px solid white;
			padding:10px;		
		}
	}
	.user-xs{
		display:block;
		font-size:33px;
		position:absolute;
		color:white;
		right: 50px;
		top: 12px;
		color:#616161;
		z-index:2;

		&:hover{
			color:#eccb46;
		}
	}
	.menuTop-xs{
		background:#2d2d2d;
		
		margin-left:-15px;
		margin-right:-15px;
		ul{
			text-align:center;
			li{
				@include inline-block();
				margin: 0 6px;
				a{
					color:white;
					font-family:"montserratregular", Helvetica Neue, sans-serif;
					font-size:12px;
					text-transform:uppercase;
					@include inline-block;
					padding:10px 0;
				}
			}
		}
	}

/* ======== SLIDER INTRO ======== */
.titleslide-xs{
	font-family:'Georgia', sans-serif;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	bottom: -15px;
	text-align: center;
	width: 100%;
	color:black;
}
.itemslide-xs{
		overflow:hidden;
		text-align:center;

		&.scond{
			li{
				min-height: 108px;
			}
		}
		li{
			width: 160px;
			min-height: 135px;
			padding: 15px 20px;
			position:relative;
			margin:20 15px 0 15px;
			@include inline-block();
			text-align:center;
			background:#eccb46;
			@include prefixed (transition, all 0.3 linier);
			font-family:"montserratbold", Helvetica Neue, sans-serif;
			text-transform:uppercase;
			color:black;
			&:hover{
				background:black;
				color:white;
				a{
					color:white;
					text-shadow: 0 0 5px #2b2b2b;
				}
			}
			a{
				color:black;

			}

			i.ico1{
				font-size: 3em;
				margin-bottom: 10px;
			}
			i.ico2{
				font-size: 4.5em;
				margin-top: -40px;
				margin-bottom:10px;
			}
		}
}

.block-xs{
	li{
		display:block;
		background:#eccb46;
		color:black;
		@include prefixed (transition, all 0.3 linier);
		font-family:"montserratbold", Helvetica Neue, sans-serif;
		width: 80%;
		margin: 0 auto;
		margin-bottom:15px;
		position:relative;
		&:hover{
			background:black;
			a{
				color:white;
			}
		}
		a{
			display:block;
			padding:10px 20px;
			color:black;
			text-transform:uppercase;

			&:hover{
				text-decoration:none;
			}
		}
		i.ico2{
			font-size:2em;
			vertical-align:middle;
			margin-right:8px;
		}
		i.fa-plus{
			position:absolute;
			right:20px;
			top:30%;
		}
	}
}

/* ======== MENU FOOT MOBILE ======== */
#footMobile{
	margin-left:-15px;
	margin-right:-15px;
}
ul.listmenu-xs{
	list-style:none;
	padding:0;
	margin:0;
	margin:0 auto;
	margin-bottom:27px;

	li{
		display:block;
		border-bottom:1px solid #000000;
		&:first-child{
			border-top:1px solid #000000;
		}

		a{
			color:black;
			font-family: 'Georgia', sans-serif;
			font-weight:bold;
			padding:14px 0;	
			display:block;
			text-transform:uppercase;	
			width:60%;
			margin:0 auto;
			position:relative;

			i{
				position:absolute;
				right:0;
				top:33%;
			}

		}
	}
}

.copyright-xs{
	text-align:center;
	font-size:12px;
	text-align:center;
	color:black;
	margin-bottom:27px;		

	a{
		color:black;
		text-decoration:underline;
	
	}
}
.social-xs{
	background:black;
	padding:15px 0 15px 0; 
	text-align:center;
	a{
		@include inline-block();
		@include size(38px, 38px);
		background-repeat : no-repeat;
		margin-right:8px;
		@include prefixed(transition, 0.4s ease-in-out);
		&:hover{
			@include opacity(0.6);
		}

		&.tube{
			background: image-url("xs_tube.png") 0 0;
			@include image-2x("xs_tube@2x.png", 38px, 38px);
		}
		&.tw{
			background: image-url("xs_tweet.png") 0 0;
			@include image-2x("xs_tweet@2x.png", 38px, 38px);
		}
		&.fb{
			background: image-url("xs_fb.png") 0 0;
			@include image-2x("xs_fb@2x.png", 38px, 38px);
		}
		&.pint{
			background: image-url("xs_pintrest.png") 0 0;
			@include image-2x("xs_pintrest@2x.png", 38px, 38px);
		}
		&.goo{
			background: image-url("xs_google.png") 0 0;
			@include image-2x("xs_google@2x.png", 38px, 38px);
		}
		&.vme{
			background: image-url("xs_vimeo.png") 0 0;
			@include image-2x("xs_vimeo@2x.png", 38px, 38px);
		}
	}
}