	#nav{
		background:#3a3a3a;
		position:relative;
		
		#menu, #menu ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		#menu {
			width:auto;
			display:table;
			margin:0 auto;
			text-align:center;
		}

		#menu:before,
		#menu:after {
			content: "";
			display: table;
		}

		#menu:after {
			clear: both;
		}

		#menu {
			zoom:1;
		}

		#menu li {
			@include inline-block;
			text-align:center;
		}

		#menu a {
			@include inline-block;
			padding: 16px 20px;
			color: white;
			font-family: 'montserratregular', sans-serif;
			text-transform: uppercase;
			text-decoration: none;
			@include prefixed(transition, all 0.3s linear);
		}

		#menu li:hover > a, #menu li.active > a {
			color: #ebcb45;
		}


		#menu ul {
			margin: 0;
			_margin: 0; /*IE6 only*/
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 53px;
			left: 0;
			z-index: 1;
			background: #ebcb45;
			width:100%;
			
			/*-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-ms-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;*/
		}

		#menu li:hover > ul, #menu li.active > ul {
			opacity: 1;
			visibility: visible;
			margin: 0;
			top: 53px;
		}

		#menu ul ul {
			top: 0;
			left: 150px;
			margin: 0 0 0 20px;
			_margin: 0; /*IE6 only*/
			-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
			-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
			box-shadow: -1px 0 0 rgba(255,255,255,.3);
		}

		#menu ul li {
			float: none;
			@include inline-block();
			border: 0;
			_line-height: 0; /*IE6 only*/
		}

		#menu ul li:last-child {
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		#menu ul a {
			padding: 15px 18px;
			font:14px 'montserratregular', sans-serif;
			_height: 10px; /*IE6 only*/
			@include inline-block();
			white-space: nowrap;
			float: none;
			text-transform: none;
			text-align:left;
			color:black;
		}

		#menu ul a:hover {
			background-color: #d9ba3a;
			color:white;
		}

		#menu{ 
			#id_1{
				ul{
					background:#a2d7cd;
				}
			}
			#id_2{
				ul{
					background:#c7c7c7;
				}
			}
			#id_3{
				ul{
					background:#eccb46;
				}	
			}
			#id_4{
				ul{
					background:#ffffff;
				}	
			}
			#id_5{
				@extend #id_1;
			}
			#id_6{
				@extend #id_2;
			}
			#id_7{
				@extend #id_3;
			}
			#id_8{
				@extend #id_4;
			}
			#id_9{
				@extend #id_1;
			}
			#id_10{
				@extend #id_2;
			}
		}

	}



	/*arrow
	#menu ul li:first-child > a {
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}

	#menu ul li:first-child > a:after {
		content: '';
		position: absolute;
		left: 40px;
		top: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #444;
	}

	#menu ul ul li:first-child a:after {
		left: -6px;
		top: 50%;
		margin-top: -6px;
		border-left: 0;
		border-bottom: 6px solid transparent;
		border-top: 6px solid transparent;
		border-right: 6px solid #3b3b3b;
	}

	#menu ul li:first-child a:hover:after {
		border-bottom-color: #04acec;
	}

	#menu ul ul li:first-child a:hover:after {
		border-right-color: #0299d3;
		border-bottom-color: transparent;
	}

	#menu ul li:last-child > a {
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius: 0 0 3px 3px;
	}
	 //End arrow */
	
	.strip{
		display:block;
		background:#ebcb45;
			position: absolute;
			top: 100%;
			width:100%;
			height:50px;
			z-index:0;
			left: 0;
			display:none;
	}



	
   