@media screen and (min-width:768px) {
 .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media screen and (max-width: 767px) {
 .nav-btn {
	 	position: absolute;
		left: 42px;
		z-index: 5;
		top: 28px;
	  display: block;
	  width: 23px;
	  height: 17px;
	  padding: 0;
	  border: 0;
	  outline: none;
	  background: url(../img/hamburger.png) 0 0 no-repeat;
	  overflow: hidden;
	  white-space: nowrap;
	  text-indent: 100%;
	  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	  opacity: 0.7;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
	    .nav-btn {
	        background: url(../img/hamburger@2x.png) 0 0 no-repeat;
	        background-size: 23px 17px;
	    }
	}
  #nav {
    position: absolute;
    top: 0;
    padding-top: 5%;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: -3.75em;
    left: 1.875em;
  }
  #nav .block {
    position: relative;
    padding: 0;
  }
  #nav ul#menu li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav ul#menu li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav ul#menu li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
  }
  #nav  ul#menu li a {
    padding: 0.85714em 2.14286em;
  }

  .js-ready #nav {
    height: 100%;
    width: 70%;
    background:white;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
 
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

  /*ADDITIONAL*/
  #nav{
  	background:white;
  	a{
  		color:black !important;
  	}
  }

  #nav ul#menu{
  	display:block;
  }
  #nav ul#menu li{
  	display:block;
  	text-align:left;
  	border-bottom:1px solid #cccccc;

  	&:before{
  		content:"\f105";
  		position:absolute;
  		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		right: 22px;
		top: 20%;
		font-size: 1.7em;
		color: black;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
  	}
  }
  #menu a{
  	font-family: 'montserratbold';		
  
  }
  #nav ul#menu li:last-child{
  	display:none;
  }

  .src-xs{
  	border-bottom:1px solid #cccccc;
  	padding-bottom:15px;
  	 .form-control{
  	 	border: 1px solid #cccccc;
		color: black;
		background: white url(../img/src.png) 10px 50% no-repeat;
		padding-left: 37px;
		width: 88%;
		margin: 0 auto;
  	 }
  }

  .optlist-xs{
  	li{
  		display:block;
  		border-bottom:1px solid #cccccc;
  		position:relative;
  		overflow:hidden;
  		a{
  			padding:10px 27px;
  			display:block;
  			font: 13px "Georgia", sans-serif;
  		}

  		span.numb{
  			display: -moz-inline-stack;
		  display: inline-block;
		  vertical-align: middle;
		  *vertical-align: auto;
		  zoom: 1;
		  *display: inline;
  			color:white !important;
  			background:black;
  			padding: 7px 10px;
  			vertical-align:middle;
  			line-height:1em;
  			position:absolute;
  			right:25px;
  			top:15%;

  		}
  	}
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }
}
