/* ======== NEW YORK TIME MAIN ======== */

.logoNyt{
	margin-bottom:25px;
}
.linetext{
	width:80%;
	text-align:center;
	margin:0 auto;
}

/* ======== NEW YORK TIMES DETAIL ======== */

.intromagz{
	color:black;
	overflow:hidden;

	figure{
		max-width:250px;
		oveflow:hidden;
		float:left;
		margin-right:30px;
	}
	.desc{
		overflow:hidden;
		padding-top:3.5%;
		strong{
			display:block;
			font-weight:normal;
			font-family: 'montserratregular';
			color:#000000;
			text-transform:uppercase;
			margin-bottom:8px;
		}

		a{
			color:#2b9784;
			font: 12px 'montserratregular';
			text-transform:uppercase;
		}
	}
}

#magzslide{
	margin:0 auto;
	.date{
		font:18px "Georgia", sans-serif;
		text-align:center;
		text-transform:uppercase;
		color:black;
	}
	.bx-wrapper .bx-viewport{
		@include box-shadow(none);
		border:0;
		background: #fff;
		left:6px;
	}

	.bx-wrapper .bx-pager{
		border-top:1px solid #cccccc;
		bottom:-25px;
		position:relative;
		padding-top:25px;
	}

	.bx-wrapper .bx-controls-direction a{
		top:auto;
		bottom:-30px;
		@include size(70px, 32px);
		@include prefixed(transition, all 0.3s ease-in);
		@include opacity(1);

		
	}

	.bx-wrapper .bx-prev{
		@include spr-sprite(prev);

		&:hover{
			@include opacity(0.7px);
		}
	}
	.bx-wrapper .bx-next{
		@include spr-sprite(next);

		&:hover{
			@include opacity(0.7px);
		}
	}
}


.zoomore{
	position:relative;
	max-width:425px;
	overflow:hidden;
	text-align:center;

	&:hover{
		.overlay{
			@include opacity(1);
		}
	}
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url("../img/icons/zoom.png");
	background-repeat:no-repeat;
	background-position:center center;
	background:#ebcb46 \9;
	background:rgba(235, 203, 70, 0.8);
	text-align:center;

	/* Opacity Transition */
	-webkit-transition:opacity .4s ease-in;  
	-moz-transition:opacity .4s ease-in;  
	-o-transition:opacity .4s ease-in;  
	-ms-transition:opacity .4s ease-in;  
	transition:opacity .4s ease-in;  

	@include opacity(0);

	a{
		color:#8d7e3f;
		text-decoration:none;
	}
	.text{
		top:auto;
		bottom:32%;
		color:#8d7e3f;
		position:absolute;
		width:100%
	}
	.fa-search-plus{
		font-size:8em;
		margin-bottom: 15px;
	}

	span{
		font-size:18px;
		font-family: 'montserratbold';
	}
}
