/*==========================================================================
  SERVICE
========================================================================== */

#introstrip{
	position:relative;
	@include min-height(320px);
	margin-bottom:20px;
	figure{
		@include size(100%, 320px);
	}

	@media (max-width: 979px){
		@include min-height(0);
		figure{
			height:251px;
		}
	}
	@media (max-width: 767px){
		figure{
			height:194px;
		}
	}
	@media (max-width: 330px){
		figure{
			height:99px;
		}
	}
}

.stripthumb{
	text-align:center;
	margin:0 auto;
	color:black;
	text-transform:uppercase;
	font: 600 20px "adobe-caslon-pro", georgia;
	background:#edbf1f\9;
	background:rgba(237, 191, 31, 0.8);
	padding: 8px 8px 5px 8px;
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	@include prefixed(transform, translate(-50%, -50%));
	z-index:3;

	@media (max-width: 767px){
		font-size:15px;
	}
	@media (max-width: 330px){
		font-size:12px;
	}
}

.postservice{
	h5{
		text-transform:uppercase;
		color:#313131;
		font-weight:700;
		line-height:1.5em;
	}

	figure{
		text-align:center;
		position:relative;
		text-align:center;
		overflow:hidden;
	}

	.twothumb{
		height:205px;
		img{
             @include size(auto, 205px);
		}

		@media (max-width: 767px){
			height:auto;
			margin-bottom:25px;
			img{
            	 @include size(auto, auto);
			}
		}
	}
}

.lt-catalog{
	text-align:center;
}

/*================== END SERVICE =================*/