/*==========================================================================
  SHIPPING
========================================================================== */

#shipping{
	background:white;
	padding:30px 20px;
}

.shiplist{
	margin-bottom:40px;
	header{
		marign-bottom:10px;
		position:relative;
		@include min-height(64px);
		overflow:hidden;
		background:#cecece;
		margin-bottom:25px;
		span{
			display:block;
			float:left;
			@include size(64px, 64px);
			border-right:2px solid white;
			&.spicon1{
				background:image-url("thumb/ship1.png") 0 0 no-repeat;
				@include image-2x(image-url("thumb/ship1@2x.png"), 64px, 64px);
			}
			&.spicon2{
				background:image-url("thumb/ship2.png") 0 0 no-repeat;
				@include image-2x(image-url("thumb/ship2@2x.png"), 64px, 64px);
			}
			&.spicon3{
				background:image-url("thumb/ship3.png") 0 0 no-repeat;
				@include image-2x(image-url("thumb/ship3@2x.png"), 64px, 64px);
			}
			&.spicon4{
				background:image-url("thumb/ship4.png") 0 0 no-repeat;
				@include image-2x(image-url("thumb/ship4@2x.png"), 64px, 64px);
			}
			&.spicon5{
				background:image-url("thumb/ship5.png") 0 0 no-repeat;
				@include image-2x(image-url("thumb/ship5@2x.png"), 64px, 64px);
			}
		}

		p{
			text-transform:uppercase;
			margin-bottom:0;
			height:64px;
			padding:0 80px 0 20px;
			display: table-cell;
			vertical-align:middle;
			color:black;
			overflow:hidden;
			font-family: 'montserratregular';
		}
	}
	.desc{
		padding-left:70px;
		@media(max-width:330px){
			padding-left:0;
			font-size:0.9em;
		}
	}
}