/* ======== SHOPPING CART PAGE ======== */
a.remove{
	color:#4ba696;
	font-family: 'montserratregular';
	font-size:12px;
}
.whislist{
	.upcase{
		position:absolute;
		right:0;
		top:0;
	}
}

.footcart{
	text-align:right;
	span{
		font-family: 'montserratregular';
		display:block;
		color:black;
		margin-bottom:18px;
		font-size:16px;
	}
}

/* ======== SHOP CART STEP_1 ======== */
.steps{
	margin-bottom:40px;
	ul{
		li{
			vertical-align : middle;
			font-style:italic;
			margin-right:15px;
			a{
				color:black;
				text-transform:uppercase;
			}
			&:hover, &.active{
				.numb{
					background:#a0d9cf;
				}
			}
			.numb{
				@include inline-block();
				background:#ffffff;
				font-size:17px;
				color : black;
				text-align:center;
				width:35px;
				height:35px;
				line-height:2em;
				@include border-radius(50%);
				margin-right:13px;
			}
		}
	}
}

.forgot{
	color:#4ba696;
	font-family: 'montserratregular';
	font-size:12px;
}

/* ======== SHOP CART STEP_3 ======== */
.shipdetail{
	position:relative;

	.btn_mgenta{
		font-size:10px;
		position:absolute;
		right: 15px;
		top: 38px;
	}
}

.shopcart_btm{
	.whislist{
		margin-bottom:3px;
	}
}