/*==========================================================================
  STAFF
========================================================================== */

#tabstaf{
	border-bottom:1px solid #b7b7b7;
	margin-bottom: 33px;
	margin-top: 38px;
	
	li{
		text-align:center;
		&.active a{
				color:#000000;
				background:#a0d9cf;
				text-decoration:none;
			}
		a{
			display:block;
			padding:12px 10px;
			background:#dadada;
			color:#848484;
			font-size:14px;
			text-transform:uppercase;
			font-weight:700;
			@include prefixed(transition, all 0.3s linear);
			&:hover{
				color:#000000;
				background:#a0d9cf;
				text-decoration:none;
			}
		}

		@media (max-width: 767px){
				a{
					font-size:0.9em;
					font-weight:400;
				}
			}

	}
	@media (max-width:330px){
		border:none;
		li{
			width:100% !important;
			float:none !important;
			text-align:left;
			padding-right:10px;
			padding-left:10px;
			a{
				background:none;
				border-bottom:1px solid #b7b7b7;
			}
		}
	}
}
.allstaff{
	article{
		margin-bottom:38px;
		padding-bottom:38px;
		border-bottom:1px solid #bdbdbd;
		overflow:hidden;
		figure{
			float:left;
			margin-right:23px;
			width:178px\9;
			overflow:hidden;
			max-width:178px;
		}
		p{
			overflow:hidden;
		}
		strong{
			text-transform:uppercase;
			font-weight:700;
			display:block;
			margin-bottom:8px;
		}

		a.remore{
			color:#4ba696;
			text-transform:uppercase;
			font-size:13px;
			font-weight:400;
			margin-top:8px;
			@include inline-block();

			&:hover{
				color:#dfbb22;
				text-decoration:none;
			}
		}
	}


	@media (max-width:330px){
		figure{
				float: none !important;
				text-align: center !important;
				margin-bottom: 15px;
				margin-right: 0;
				max-width: none !important;
				width: 100%;
				img{
					margin:0 auto;
				}
			}
	}
}

.largerstaff{
	figure{
		text-align:center;
		margin-bottom:20px;
	}
}
/* ======== END OF STAFF ======== */