/*==========================================================================
  SUBPAGE
========================================================================== */
#main{
	&.subpages{
		padding:80px 0 60px 0;
	}
}

.bg-white{
	background:white;
	padding:30px;
	margin-bottom:50px;

	&.ordhis{
		margin-bottom:30px;
	}
}

.grey{
	@extend .bg-white;
	background:#dbdada;
	color:black;
	overflow:hidden;
}