/*==========================================================================
  VIDEO
========================================================================== */
.videopart{
	text-align:center;
}

.viditem{
	margin:0 auto;
	margin-bottom:10px;
	overflow:hidden;
	text-align:center;
}

.videopart{
	.btn_mgenta{
		margin-top:10px;
	}

	.f-title{
		font-family: 'montserratbold';
		font-size: 1.1em;
		line-height: 1.3em;
	}
}

/* ======== VIDEO DETAIL ======== */
#bigvideo{
	iframe{
		margin-bottom:20px;
		height:340px;

		@media (max-width: 480px){
			height:280px;
		}

		@media (max-width: 330px){
			height:200px;
		}
	}
}

.listdot{
	margin-left:13px;
	li{
		list-style-image : image-url("list.png") ;
		margin-bottom:5px;
		a{
			color:#666666;
			&:hover{
				color:#ebcb45;
			}
		}
	}
}

#carousel{
	.bx-wrapper {
		.bx-viewport{
			@include box-shadow(none);
			border:none;
		}
		
		.bx-controls-direction a{
			@include size(24px, 44px);
			margin-top:-60px;

		}

		.bx-prev{
			background:image-url("carousel/arr_cr_lt.png") 0 0 no-repeat;
			left:-30px;
		}
		.bx-next{
			background:image-url("carousel/arr_cr_rt.png") 0 0 no-repeat;
			right:-30px;
		}
	}
	li{
		text-align:center;
		p{
			padding:0 18px;
			font-family: 'montserratregular';
			color:black;
			text-transform:uppercase;
		}
		img{
			margin:0 auto;
		}
	}
}

.cr-olay{
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
	@include inline-block();

	.overlay_zoom {
		position:absolute;
		top:0px;
		width:100%;
		height:100%;
		background-image: image-url("carousel/zoom_cr.png");
		background-repeat:no-repeat;
		background-position:center center;
		background-color:#ebcb46\9;
		background-color:rgba(235, 203, 70, 0.9);
		@include opacity(0);
		/* Opacity Transition */
		@include prefixed(transition, opacity .4s ease-in);
		text-align:center;

		span{
			color:black;
			text-transform:uppercase;
			display:block;
			margin-top:45%;
		}
	}

	&:hover{
		.overlay_zoom {
			@include opacity(1);
		}
	}
}

#vidwrap{
	margin-bottom:30px;
	.bg-white{
		margin-bottom:15px;
	}
}

#related{
	position:relative;
	color:black;
	figure{
		@include size(126px, 122px);
		overflow:hidden;

		img{
			border:1px solid #cdcdcd;
		}
	}


	.more-arrow{
		position:absolute;
		right:0;
		top:30%;
		@include inline-block();
		width:80px;
		padding:16px 0;

		text-transfrom:uppercase;
		background:image-url("carousel/arr_cr_rt.png") right center no-repeat;
		text-transform:uppercase;
		color:black;
		font-family: 'montserratregular';
		@include prefixed(transition, opacity .3s linear);
		font-size:13px;
		
		&:hover{
			text-decoration:none;
			@include opacity(0.7);
		}

		@media (min-width: 767px) and (max-width: 979px){
			width:60px;
			font-size:10px;
		}
	}
}
